<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="AutodownloadService.log"/>
			<appendToFile value="true"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="10000KB"/>
			<staticLogFileName value="true"/>
			<threshold value="ALL"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{MM/dd/yyyy HH:mm:ss.fff} [%-5level] [Process#: %property{pid}] [Thread#: %thread] [%logger{1}] - %message%newline"/>
			</layout>
		</appender>
		<!--Added to Capture ErrorLog in Separate File-->
		<appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="AutodownloadServiceError.log"/>
			<appendToFile value="true"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<rollingStyle value="Size"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="10000KB"/>
			<staticLogFileName value="true"/>
			<threshold value="Error"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{MM/dd/yyyy HH:mm:ss.fff} [%-5level] [Process#: %property{pid}] [Thread#: %thread] [%logger{1}] - %message%newline"/>
			</layout>
		</appender>
		<!--End-->
		<root>
			<appender-ref ref="FileAppender"/>
			<appender-ref ref="ErrorFileAppender"/>
		</root>
	</log4net>
	<connectionStrings>
		<!--<add name="cn" connectionString="Data Source=LAPTOP-QC66O85K\SQLSERVER2012;Initial Catalog=webstars;User ID=webstars;Password=webstars"/>-->
		<!--DEV-->
		<add name="epush" connectionString="Data Source=LAPTOP-QC66O85K\SQLSERVER2019;Initial Catalog=epush;User ID=epush;Password=epush"/>
		<add name="ams" connectionString="Data Source=ITPC5;Initial Catalog=HRMS_DB;User ID=hrms;Password=St!rs8rms@!@#"/>
		<add name="sap" connectionString="Data Source=LAPTOP-QC66O85K\SQLSERVER2019;Initial Catalog=EPR;User ID=epr;Password=Wendt2014$"/>
		<add name ="DownloadType" connectionString="Device"/>
		<!--Device/Sql-->
		<!--PROD-->
		<!--<add name="epush" connectionString="Data Source=WILINFESSV02;Initial Catalog=epush;User ID=epush;Password=epush"/>
    <add name="lms" connectionString="Data Source=WILINFESSV02;Initial Catalog=webstars;User ID=webstars;Password=webstars"/>
    <add name="sap" connectionString="Data Source=192.168.102.37;Initial Catalog=EPR;User ID=epr;Password=Wendt2014$"/>-->
	</connectionStrings>
	<appSettings>
		<add key="service.workersnumber" value="1"/>
		<add key="service.stoptimeout" value="6000"/>
		<add key="service.tablemonthcheck" value="2"/>
		<add key="service.Time" value="02:00-03:00"/>
		<add key="service.Interval" value="2"/>
	</appSettings>
</configuration>
