/*/bin
/*/obj
/*/bin
/*/obj
/HRMS.Web/.vs
/HRMS.Web/packages
/packages
/HRMS.Web/Properties/PublishProfiles
/HRMS.Application/.vs
/HRMS.Common/.vs
/HRMS.Domain/.vs
/HRMS.Infrastructure/.vs
/.vs
/HRMS.Web/App_Data/ErrorLog.txt
/HRMS.Web/HRMS.Web.csproj.user
