USE [HRMS_DB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[UserID] [nvarchar](max) NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Role] [int] NOT NULL,
	[ResetToken] [nvarchar](max) NULL,
	[TokenExpiry] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequest]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [nvarchar](11) NULL,
	[LeaveType] [int] NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[ReviewedBy] [nvarchar](max) NULL,
	[ReviewedAt] [datetime] NULL,
	[ReviewComments] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.LeaveRequest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblAuditLog]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAuditLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Action] [nvarchar](max) NULL,
	[Module] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[IpAddress] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TblAuditLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblDailyTransactions]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDailyTransactions](
	[EmpId] [nvarchar](11) NOT NULL,
	[IOFlag] [nvarchar](1) NOT NULL,
	[TransTime] [datetime] NOT NULL,
	[ActualIOFlag] [nvarchar](1) NULL,
	[OPFlag] [nvarchar](1) NOT NULL,
	[PunchedTime] [datetime] NULL,
	[AttendanceDate] [datetime] NULL,
	[BOutPassHrs] [int] NULL,
	[Remarks] [nvarchar](25) NULL,
	[BadgeReaderNo] [int] NULL,
	[Deleted] [nvarchar](1) NULL,
	[ReasonCode] [nvarchar](2) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[Employee_EmployeeId] [nvarchar](11) NULL,
 CONSTRAINT [PK_dbo.TblDailyTransactions] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC,
	[IOFlag] ASC,
	[TransTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblDepartment]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDepartment](
	[DepartmentId] [nvarchar](128) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TblDepartment] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblDesignation]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDesignation](
	[DesignationID] [nvarchar](128) NOT NULL,
	[DesignationName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TblDesignation] PRIMARY KEY CLUSTERED 
(
	[DesignationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblEmpMast]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblEmpMast](
	[EmployeeId] [nvarchar](11) NOT NULL,
	[EmployeeName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[DepartmentId] [nvarchar](128) NULL,
	[DesignationId] [nvarchar](128) NULL,
	[DateOfJoining] [datetime] NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TblEmpMast] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblErrorDisplay]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblErrorDisplay](
	[Empcode] [nvarchar](11) NULL,
	[Tdt] [datetime] NULL,
	[Type] [char](2) NULL,
	[Message] [nvarchar](75) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblMuster]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblMuster](
	[EmployeeId] [nvarchar](11) NOT NULL,
	[TDate] [datetime] NOT NULL,
	[ShiftId] [nvarchar](2) NULL,
	[AttId] [nvarchar](2) NULL,
	[LeaveTypeId] [nvarchar](2) NULL,
	[HrsWorked] [int] NULL,
	[OutPasses] [int] NULL,
	[ErrCodeId] [int] NULL,
	[SingleOT] [int] NULL,
	[DoubleOT] [int] NULL,
	[LatePunch] [int] NULL,
	[EarlyOut] [int] NULL,
	[ExtraHours] [int] NULL,
	[CompOff] [int] NULL,
	[PersonlaHrs] [int] NULL,
	[Availed] [datetime] NULL,
	[Applied] [datetime] NULL,
	[FirstIn] [nvarchar](20) NULL,
	[LastOut] [nvarchar](20) NULL,
	[ShortAdj] [int] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TblMuster] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC,
	[TDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblshiftdetails]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblshiftdetails](
	[SHIFTID] [char](2) NOT NULL,
	[dayid] [int] NOT NULL,
	[starttime] [datetime] NULL,
	[endtime] [datetime] NULL,
	[lunchstart] [datetime] NULL,
	[lunchend] [datetime] NULL,
 CONSTRAINT [PK_tblshiftdetails] PRIMARY KEY CLUSTERED 
(
	[SHIFTID] ASC,
	[dayid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblshifts]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblshifts](
	[SHIFTID] [char](2) NOT NULL,
	[SHIFTNAME] [varchar](25) NULL,
 CONSTRAINT [PK_tblshifts] PRIMARY KEY CLUSTERED 
(
	[SHIFTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblTempCards]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblTempCards](
	[TempCardNo] [varchar](11) NOT NULL,
	[EmpId] [nvarchar](11) NULL,
	[locationcode] [char](6) NULL,
 CONSTRAINT [PK_TblTempCards] PRIMARY KEY CLUSTERED 
(
	[TempCardNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[LeaveRequest]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LeaveRequest_dbo.TblEmpMast_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[TblEmpMast] ([EmployeeId])
GO
ALTER TABLE [dbo].[LeaveRequest] CHECK CONSTRAINT [FK_dbo.LeaveRequest_dbo.TblEmpMast_EmployeeId]
GO
ALTER TABLE [dbo].[TblDailyTransactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblDailyTransactions_dbo.TblEmpMast_Employee_EmployeeId] FOREIGN KEY([Employee_EmployeeId])
REFERENCES [dbo].[TblEmpMast] ([EmployeeId])
GO
ALTER TABLE [dbo].[TblDailyTransactions] CHECK CONSTRAINT [FK_dbo.TblDailyTransactions_dbo.TblEmpMast_Employee_EmployeeId]
GO
ALTER TABLE [dbo].[TblEmpMast]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblEmpMast_dbo.TblDepartment_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[TblDepartment] ([DepartmentId])
GO
ALTER TABLE [dbo].[TblEmpMast] CHECK CONSTRAINT [FK_dbo.TblEmpMast_dbo.TblDepartment_DepartmentId]
GO
ALTER TABLE [dbo].[TblEmpMast]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblEmpMast_dbo.TblDesignation_DesignationId] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[TblDesignation] ([DesignationID])
GO
ALTER TABLE [dbo].[TblEmpMast] CHECK CONSTRAINT [FK_dbo.TblEmpMast_dbo.TblDesignation_DesignationId]
GO
ALTER TABLE [dbo].[TblMuster]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblMuster_dbo.TblEmpMast_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[TblEmpMast] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblMuster] CHECK CONSTRAINT [FK_dbo.TblMuster_dbo.TblEmpMast_EmployeeId]
GO
ALTER TABLE [dbo].[tblshiftdetails]  WITH CHECK ADD  CONSTRAINT [FK_tblshiftdetails_tblshifts] FOREIGN KEY([SHIFTID])
REFERENCES [dbo].[tblshifts] ([SHIFTID])
GO
ALTER TABLE [dbo].[tblshiftdetails] CHECK CONSTRAINT [FK_tblshiftdetails_tblshifts]
GO
ALTER TABLE [dbo].[TblTempCards]  WITH CHECK ADD  CONSTRAINT [FK_TblTempCards_TblEmpMast] FOREIGN KEY([EmpId])
REFERENCES [dbo].[TblEmpMast] ([EmployeeId])
GO
ALTER TABLE [dbo].[TblTempCards] CHECK CONSTRAINT [FK_TblTempCards_TblEmpMast]
GO
/****** Object:  StoredProcedure [dbo].[ComputeAttendanceFor]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ComputeAttendanceFor]
		@EmpCode Varchar(11),
		@TDf5 varchar(11),
		@TDt5 varchar(11),
		@location char(6),
		@ComputeAttendanceFor smallint Output
As
SET NOCOUNT ON;

declare @Dtfrom datetime, @Dtto datetime
set @Dtfrom=@TDf5
set @Dtto=@TDt5
--set @Dtfrom=CAST(@TDf5 AS DATETIME)
--set @Dtto=CAST(@TDt5 AS DATETIME)

delete from tblErrorDisplay 
while @dtfrom<=@dtto
begin 
declare @fromdate varchar(20)
Declare @TDT datetime
Declare @IOFlag Char(1)
Declare @TransTime DateTime
Declare @BOutPassHrs Int
Declare @OPFlag Char(1)
set @tdt=convert(datetime,@dtfrom,101)
set @fromdate=@tdt
--TblMuster
Declare @ShiftId Char(2)
Declare @AttId Char(2)
Declare @SingleOT Int
Declare @DoubleOT Int
Declare @CompOff Int
--TblCompany
Declare @GraceInTime Int
Declare @GraceOutTime Int
Declare @GraceLunchIn Int
Declare @GraceLunchOut Int
Declare @GraceOverTime Int
--TblCadres
Declare @CoffFlag Char(1),@CadreId varchar(6)
--TblShiftDetails
Declare @ShiftStartTime DateTime
Declare @ShiftEndTime DateTime
Declare @LunchStartTime DateTime
Declare @LunchEndTime DateTime
Declare @cntCompany Int
Declare @cntShift Int
Declare @cntMRec Int
Declare @TransDt DateTime
Declare @ShiftCode Char(2)
Declare @ShiftStart DateTime
Declare @ShiftEnd DateTime
Declare @LunchStart DateTime
Declare @LunchEnd DateTime
Declare @SftGraceIn float
Declare @SftGraceOut float
Declare @LunGraceIn float
Declare @LunGraceOut float
Declare @IsPairedRet Int
Declare @EmpStatus Char(1)
Declare @Time1 DateTime
Declare @Time2 DateTime
Declare @sOPFlag Char(1)
Declare @iBOutPassHrs Int
Declare @iActualOPHrs Int
Declare @LunGraceStart DateTime
Declare @LunGraceEnd DateTime
Declare @SftGraceStart DateTime
Declare @SftGraceEnd DateTime
Declare @AttnId Char(2)
Declare @NormalHrs Int
Declare @OutPass Int
Declare @LateIn Int
Declare @EarlyOutHrs Int
Declare @ExtraHrs Int
Declare @Dot Int
Declare @TempTime Int
Declare @MaxSingleOT Int
Declare @MaxDoubleOT Int
Declare @MaxCompOff Int
Declare @GraceOT Int
Declare @LateHrs Int
Declare @BusLateBy Int
Declare @CompOff1 Int
Declare @cntDp Int
Declare @I Int,@cntHoliDay1 int
Declare @j Int,@StrHoliday char(2),@LocId varchar(6)
Declare @HolidayDate DateTime, @LastOut datetime
Declare @SCode Char(2),@cntMinTrans int,@CFinLOut char(1),@Fin DateTime
/*	-- Check whether both the parameters are present*/
If RTrim(LTrim(@EmpCode)) Is Null Or RTrim(LTrim(@TDt5)) Is Null Or RTrim(LTrim(@TDf5)) Is Null
Begin
	Set @ComputeAttendanceFor = -1
	Print 'EmpCode or tdt is null'
	close c_DailyTransactions
	Deallocate c_DailyTransactions
	set @dtfrom=dateadd(day,1,@dtfrom)
	return 
End
set @TDt=@dtfrom -- @TDf5
/*-- Check whether the punches are paired*/
set @LateHrs=0
--Exec p_IsPaired @EmpCode, @TDt,@ispaired = @IsPairedRet Output
set @IsPairedRet=0
set @CFinLOut = 'T';
	--Declare cur_Company Cursor Scroll For Select FInLoutCal from TblCompany
	--Open cur_Company
	--Fetch First From cur_Company InTo @CFinLOut
	--Close cur_Company
	--Deallocate cur_Company
if @CFinLout ='F'
	Exec p_IsPaired @EmpCode, @TDt,@ispaired = @IsPairedRet Output
else
begin
	declare @temp_punch int
	declare ispaired_cur Cursor scroll for select count(*) from TblDailyTransactions where Empid = RTrim(LTrim(@EmpCode)) and AttendanceDate =cast(@fromdate as char(11)) and Deleted = 'F' --cast(@fromdate as char(11))
	open ispaired_cur
	fetch first from ispaired_cur into @temp_punch
	if @temp_punch=1 
	begin
	  	set @IsPairedRet = 1	
		Declare c_MinTrans Scroll Cursor For Select Transtime as Fin,IOFlag as IOFlag from TblDailyTransactions where AttendanceDate = convert(datetime,@tdt,101) and EmpId = RTrim(LTrim(@EmpCode)) and Deleted = 'F' 
		Open c_MinTrans
		Fetch First From c_MinTrans InTo @Fin,@IOFlag
		Select @cntMinTrans = @@Cursor_Rows
		Close c_MinTrans
		Deallocate c_MinTrans
		If @cntMinTrans > 0
		Begin
			Update tblMuster set FirstIn = Null,LastOut=Null Where TDate = convert(datetime,@tdt,101) and EmployeeId = RTrim(LTrim(@EmpCode))
			if @ioflag = 'I'
  			begin
				begin transaction
   				Update tblMuster set FirstIn = Convert(varchar,@Fin,108),attid='AA' Where TDate = convert(datetime,@tdt,101) and EmployeeId = RTrim(LTrim(@EmpCode))
				commit transaction 
  			end
			if @ioflag = 'O'
  			begin
   				begin transaction
   				Update tblMuster set LastOut = Convert(varchar,@Fin,108), attid='AA' Where TDate = convert(datetime,@tdt,101) and EmployeeId = RTrim(LTrim(@EmpCode))
   				commit transaction
  			end
		End
--Upto here
	end
	else if @temp_punch=0 
         begin
            Begin Transaction
	        Update TBLMUSTER Set AttId='AA' Where EmployeeId=LTrim(Rtrim(@EmpCode)) and Tdate=@fromdate;
	        Commit Transaction  
         end
        else if @temp_punch>=2
        begin
		Declare c_MinTrans Scroll Cursor For Select Min(Transtime),Max(Transtime) as Fin from TblDailyTransactions where AttendanceDate = convert(datetime,@tdt,101) and EmpId = RTrim(LTrim(@EmpCode)) and Deleted = 'F' 
		Open c_MinTrans
		Fetch First From c_MinTrans InTo @Fin,@LastOut
		Select @cntMinTrans = @@Cursor_Rows
		Close c_MinTrans
		Deallocate c_MinTrans
		If @cntMinTrans > 0
		Begin
		Begin Tran
		Update tblMuster set FirstIn = Convert(varchar,@Fin,108),LastOut= Convert(varchar,@LastOut,108) Where TDate = convert(datetime,@tdt,101) and EmployeeId = RTrim(LTrim(@EmpCode))
		Commit Tran
		End
	end
	deallocate ispaired_cur       
end
Declare c_Muster Scroll Cursor For Select ShiftId,AttId,SingleOT,DoubleOT,CompOff from TblMuster where EmployeeId = RTrim(LTrim(@EmpCode)) and convert(datetime,Tdate,101) = @fromdate 
Open c_Muster
Fetch First From c_Muster InTo @ShiftId,@AttId,@SingleOT,@DoubleOT,@CompOff
Select @cntMRec = @@Cursor_Rows
Close c_Muster
Deallocate c_Muster
If @SingleOT Is Null
	Set @SingleOT = 0
If @DoubleOT Is Null
	Set @DoubleOT = 0
If @CompOff Is Null
	Set @CompOff = 0
If @cntMRec = 0
Begin
	Set @ComputeAttendanceFor = 1
	Print 'Muster record not found'
	set @dtfrom=dateadd(day,1,@dtfrom)
	Return 
End
		set @LocId=''
		set @cntHoliDay1=0
		--set @Locid =(select locationcode from tblempmast where EmpId = RTrim(LTrim(@EmpCode)))
		--	Declare c_Holiday Cursor Scroll For Select holiday from TblHoliday where Holiday = @TDt --and locationcode=@Locid
		--	Open c_Holiday
		--	Fetch First From c_Holiday InTo @StrHoliday
		--	Select @cntHoliDay1 = @@Cursor_Rows
		--	Close c_Holiday
		--	Deallocate c_Holiday
		print '**********StrHoliday'
		set @StrHoliday=''
		if @cntHoliday1>0 --and @Locid=@Location
		begin
			set @StrHoliday='HH'
			print @StrHoliday
		End
Set @ShiftCode = LTrim(RTrim(@ShiftId))
If @IsPairedRet = 1
Begin
	Exec p_DetermineShift @EmpCode, @TDT, @ShiftCode, @SCode Output --@TDt
	Exec p_Late_In @EmpCode, @TDt, @ShiftCode,@par_late_in = @LateHrs Output
	Begin Transaction
	Update tblMuster set shiftid=@scode,ErrCodeId = 1,AttId = 'AA',LatePunch = @LateHrs,
	HrsWorked = 0,OutPasses = 0,Extrahours = 0,EarlyOut = 0,SingleOT = 0,DoubleOT = 0 Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
	Insert InTo tblErrorDisplay values (RTrim(LTrim(@EmpCode)),@TDt,'C','Punches Are Not Paired')
	Set @ComputeAttendanceFor = 1
	Print 'is not paired'
	Commit Transaction
	set @dtfrom=dateadd(day,1,@dtfrom)
	Set @ComputeAttendanceFor = 1
	continue
End
print @Tdt
/*-- Read the shift code and get the timings of the shift for that day*/
If @ShiftCode Is Null
Begin
	Print 'Shift is null Err 2'
	Begin Tran
	Update tblMuster set ErrCodeId = 2,
			HrsWorked = 0,OutPasses = 0,Extrahours = 0,EarlyOut = 0 Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
	Insert InTo tblErrorDisplay values (RTrim(LTrim(@EmpCode)),@TDt,'C','ShiftId Not Present in Shift Master Or Null in the Muster')
	Commit Tran
	Print 'ShiftId not present'
	Set @ComputeAttendanceFor = 1
	set @dtfrom=dateadd(day,1,@dtfrom)
--	Return 
	continue
End
Print 'SCode' + @ShiftCode
--If shift is not weekly-off, collect the timings from the shift details table for the particular day*/
If Upper(@ShiftCode) <> 'WW'
Begin
	If Len(LTrim(RTrim(@ShiftCode))) = 1  /*- -- if Automatic Shift*/
	Begin
		Print 'Determine Shift'
		Exec p_DetermineShift @EmpCode, @TDT, @ShiftCode, @SCode Output --@TDt
		Print 'Shift Code auto' + @SCode
		Set @ShiftCode = @SCode
--		if Len(LTrim(RTrim(@SCode))) = 1	
--		   return
		Update tblmuster set ShiftId = @ShiftCode where EmployeeId = @Empcode and convert(Datetime,Tdate,101) = @fromdate 
	End
	Declare c_Shift Cursor Scroll For Select StartTime,EndTime,LunchStart,LunchEnd from TblShiftDetails where ShiftId = LTrim(RTrim(@ShiftCode)) and DayId = DatePart(dw,@TDt)
	Open c_Shift
	Fetch First From c_Shift InTo @ShiftStartTime,@ShiftEndTime,@LunchStartTime,@LunchEndTime
	Select @cntShift = @@Cursor_Rows
	Close c_Shift
	Deallocate c_Shift
print 'Step1'
print @cntShift
	If @cntShift = 0
	Begin
		  Print 'ShiftID Not Found Err 2'
		  Begin Tran
		  if @StrHoliday='HH'  			
			Update tblMuster set Attid='HH' ,ErrCodeId = 2 ,HrsWorked = 0,OutPasses = 0,Extrahours = 0,EarlyOut = 0 Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate =cast(@fromdate as char(11))
          else
			Update tblMuster set Attid='AA' ,ErrCodeId = 2 ,HrsWorked = 0,OutPasses = 0,Extrahours = 0,EarlyOut = 0 Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate =cast(@fromdate as char(11))
		  Insert InTo tblErrorDisplay values (RTrim(LTrim(@EmpCode)),convert(datetime,@TDt,101),'C','ShiftId Not Present in Shift Master Or Null in the Muster')
		  Commit Tran
		  Set @ComputeAttendanceFor = 1
		  Print 'ShiftId Not Found'
		  set @dtfrom=dateadd(day,1,@dtfrom)
--		  Return 
	     continue
	End
	If @cntShift > 0
	Begin
		If (@ShiftStartTime is Null) Or (@ShiftEndTime is Null)
		Begin
			Print 'Timings Not Found Err 3'
			Begin Tran
			Update tblMuster set ErrCodeId = 3 ,
				HrsWorked = 0,OutPasses = 0,Extrahours = 0,EarlyOut = 0 Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
			Insert Into tblErrorDisplay values (RTrim(LTrim(@EmpCode)),@TDt,'C','Timings Not Present in the Shift Master')
			Commit Tran
			Print 'Timings'
			Set @ComputeAttendanceFor = 1
--set @dtfrom=dateadd(day,1,@dtfrom)
--			Return 
			continue
		End
		Set @ShiftStart = (Convert(Varchar(10),@TDt,101) +' '+ Convert(Varchar(5),@ShiftStartTime,108))
		Set @ShiftEnd = (Convert(Varchar(10),@TDt,101) +' '+ Convert(Varchar(5),@ShiftEndTime,108))
/*		If Convert(@ShiftStartTime,) = '0000'
			Set @ShiftStart = @ShiftStart + 1*/
		If @ShiftEnd < @ShiftStart
			Set @ShiftEnd = @ShiftEnd + 1
		If (@LunchStartTime Is Null) Or (@LunchEndTime Is Null)
		Begin
			Set @LunchStart = @ShiftStart + (datediff(mi,@ShiftStart,@ShiftEnd) / 2) /1440.0
			Set @LunchEnd = @LunchStart
		End
		Else
		Begin
			Set @LunchStart =(Convert(Varchar(10),@TDt,101)+' '+Convert(Varchar(5),@LunchStartTime,108))
			Set @LunchEnd = (Convert(Varchar(10),@TDt,101)+' '+Convert(Varchar(5),@LunchEndTime,108))
			If @LunchStart < @ShiftStart
			  Begin
				Set @LunchStart = @LunchStart + 1
				Set @LunchEnd = @LunchEnd + 1
			   End
			Else
			Begin
				If @LunchEnd < @LunchStart
	   			   Set @LunchEnd = @LunchEnd + 1
			End


		End

		  SET @GraceInTime = 0;
		  SET @GraceOutTime = 0;
		  SET @GraceLunchIn = 0;
		  SET @GraceLunchOut = 0;
		  SET @GraceOverTime = 0;

		--Declare c_Company Scroll Cursor For Select GraceInTime,GraceOutTime,GraceLunchIn,GraceLunchOut,GraceOt from tblCompany
		--Open c_Company
		--Fetch First From c_Company InTo @GraceInTime,@GraceOutTime,@GraceLunchIn,@GraceLunchOut,@GraceOverTime
		--Select @cntCompany = @@Cursor_Rows
		--Close c_Company
		--Deallocate c_Company
		--If @cntCompany > 0
		--Begin
		--	If @GraceInTime Is Null
		--		Set @SftGraceIn = 0
		--	Else
		--		Set @SftGraceIn = @GraceInTime
		--	If @GraceOutTime Is Null
		--		Set @SftGraceOut = 0
		--	Else
		--		Set @SftGraceOut = @GraceOutTime
		--	If @GraceLunchIn Is Null
		--		Set @LunGraceIn = 0
		--	Else
		--		Set @LunGraceIn = @GraceLunchIn
		--	If @GraceLunchOut Is Null
		--		Set @LunGraceOut = 0
		--	Else
		--		Set @LunGraceOut = @GraceLunchOut
		--	If @GraceOverTime Is Null
		--		Set @GraceOT = 0
		--	Else
		--		Set @GraceOT = @GraceOverTime
		--	If @LunchStart = @LunchEnd
		--	Begin
		--		Set @LunGraceIn = 0
		--		Set @LunGraceOut = 0
		--	End
		--End
		--Else
		--Begin
		--	Set @SftGraceIn = 0
		--	Set @SftGraceOut = 0
		--	Set @LunGraceIn = 0
		--	Set @LunGraceOut = 0
		--End

		Set @SftGraceStart = @ShiftStart + ((@SftGraceIn) / 60 / 24)
		Set @SftGraceEnd = @ShiftEnd - ((@SftGraceOut) / 60 / 24)
		Set @LunGraceStart = @LunchStart - ((@LunGraceOut) / 60 / 24)
		Set @LunGraceEnd = @LunchEnd + ((@LunGraceIn) / 60 / 24)
	End
	Else
	Begin
		If Len(RTrim(LTrim(@ShiftCode))) <> 1
		Begin
			Begin Tran
			Update tblMuster set ErrCodeId = 2,HrsWorked = 0,OutPasses = 0,Extrahours = 0,EarlyOut = 0 Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
			Insert InTo tblErrorDisplay values (RTrim(LTrim(@EmpCode)),@TDt,'C','Invalid shift or Shift Timings deleted')
			Commit Tran
			Set @ComputeAttendanceFor = 1
			close c_DailyTransactions
			Deallocate c_DailyTransactions
			Print 'Err1'
			set @dtfrom=dateadd(day,1,@dtfrom)
--			Return 
			continue
		End
		Else
		Begin
			Begin Tran
   			Update tblMuster set ErrCodeId = 0 Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
			Commit Tran
			close c_DailyTransactions
			Deallocate c_DailyTransactions
		End
	End
End
Declare c_DailyTransactions Scroll Cursor For Select IOFlag,TransTime,BOutPassHrs,OPFlag from TblDailyTransactions where AttendanceDate = convert(datetime,@tdt,101) and EmpId = RTrim(LTrim(@EmpCode)) and Deleted = 'F' Order by TransTime
Open c_DailyTransactions
Fetch First From c_DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
Select @cntDp = @@Cursor_Rows
/*-- Collect the punches from the daily transactions table */
print 'OK'
--print @StrHoliday
--print @ShiftCode
--print @cntdp
if @cntdp=0 and @StrHoliday='HH' and Upper(@ShiftCode) <> 'WW'
set @AttId='HH'
Set @I = 0
If @cntDp > 0
Begin
	Set @NormalHrs = 0
	Set @ExtraHrs = 0
	Set @OutPass = 0
	Set @I = 1
	If Upper(@ShiftCode) <> 'WW'
	Begin
		While @I <= @cntDp
		Begin
			Set @EmpStatus = Upper(@IOFlag)
			Set @Time1 = @TransTime
			Set @iBOutPassHrs = @BOutPassHrs
			Set @sOPFlag = Upper(@OPFlag)
			if @CFinLout ='T'
			Begin
				Set @I = @I + 1
				Fetch Last From c_DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
				Set @Time2 = @TransTime
				Set @I = @CntDp + 1
			--break
			--Print 'Time2****************'
			--Print @@fetch_status
			--Print @Time2
			End
			Else			
			begin
						Set @I = @I + 1
						Fetch Next From c_DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
			end			
			if @@fetch_status<>0
--				Return 
				break
--			If @I > @cntDp
--				set @dtfrom=dateadd(day,1,@dtfrom)
--				Return 
			Set @Time2 = @TransTime
			set @EmpStatus = 'I'
			If @EmpStatus = 'I'
			Begin
				If convert(datetime,@Time2,108) <= convert(datetime,@ShiftStart,108) 
					Set @ExtraHrs = @ExtraHrs + DateDiff(mi,@Time1,@Time2)
				Else
				If @Time1 >= @ShiftEnd					    	
					Set @ExtraHrs = @ExtraHrs + (DateDiff(mi,@Time1,@Time2))
				else
	 			If @Time1 <= @ShiftStart and @Time2 >= @ShiftEnd
		          		Begin
					Set @NormalHrs = @NormalHrs + (DateDiff(mi,@ShiftStart,@ShiftEnd) - DateDiff(mi,@LunchStart,@LunchEnd))	
					Set @ExtraHrs = @ExtraHrs + (DateDiff(mi,@Time1,@ShiftStart) + DateDiff(mi,@ShiftEnd,@Time2))
--      						if (DateDiff(mi,@Time1,@ShiftStart)>=30 or  DateDiff(mi,@ShiftEnd,@Time2)>15) or (DateDiff(mi,@Time1,@ShiftStart)>15 or  DateDiff(mi,@ShiftEnd,@Time2)>30)
--						   begin
--							if (DateDiff(mi,@Time1,@ShiftStart) + DateDiff(mi,@ShiftEnd,@Time2))>45
--	  						   Set @ExtraHrs = @ExtraHrs + (DateDiff(mi,@Time1,@ShiftStart) + DateDiff(mi,@ShiftEnd,@Time2))
--						   end	
					End
				Else
				If @Time1 >= @ShiftStart And @Time2 <= @ShiftEnd
				  Begin
								If @Time2 >= @LunGraceStart And @Time2 <= @LunchStart
									Set @Time2 = @LunchStart
								If @Time1 >= @LunchEnd And @Time1 <= @LunGraceEnd
									Set @Time1 = @LunchEnd

								If convert(datetime,@Time2,108) <= convert(datetime,@LunchStart,108)
									Set @NormalHrs = @NormalHrs + (DateDiff(mi,@Time1,@Time2))
								Else
     								If convert(datetime,@Time1,108) >= convert(datetime,@LunchEnd,108)
								   Set @NormalHrs = @NormalHrs + (DateDiff(mi,@Time1,@Time2))
								Else
								if convert(datetime,@Time1,108) <= convert(datetime,@LunchStart,108) And convert(datetime,@Time2,108) >= convert(datetime,@LunchEnd,108)
    							           Set @NormalHrs = @NormalHrs + (DateDiff(mi,@Time1,@Time2) - DateDiff(mi,@LunchStart,@LunchEnd))
								Else
								If @Time1 <= @LunchStart And @Time2 < @LunchEnd
								   set @NormalHrs = @NormalHrs + DateDiff(mi,@Time1,@LunchStart)
								Else
								If @Time1 >= @LunchStart And @Time2 > @LunchEnd
								   set @NormalHrs = @NormalHrs + DateDiff(mi,@LunchEnd,@Time2)
				End
				Else
				If @Time1 < @ShiftStart And @Time2 <= @ShiftEnd
				    Begin
							If @Time2 >= @LunGraceStart And @Time2 <= @LunchStart
								Set @Time2 = @LunchStart
								Set @ExtraHrs = @ExtraHrs + DateDiff(mi,@Time1,@ShiftStart)
							If @Time2 < @LunchStart
   								Set @NormalHrs = @NormalHrs + DateDiff(mi,@ShiftStart,@Time2)
							Else
							If @Time2 < @LunchEnd
								Set @NormalHrs = @NormalHrs + DateDiff(mi,@ShiftStart,@LunchStart)
							Else
								Set @NormalHrs = @NormalHrs + (DateDiff(mi,@ShiftStart,@Time2) - DateDiff(mi,@LunchStart,@LunchEnd))
						End
					Else
					If @Time1 >= @ShiftStart And @Time2 > @ShiftEnd
					Begin
						If @Time1 >= @LunchEnd And @Time1 <= @LunGraceEnd
							Set @Time1 = @LunchEnd

							Set @ExtraHrs = @ExtraHrs + DateDiff(mi,@ShiftEnd,@Time2)
							If @Time1 <= @LunchStart
								Set @NormalHrs = @NormalHrs + (DateDiff(mi,@Time1,@ShiftEnd) - DateDiff(mi,@LunchStart,@LunchEnd))
							Else
							If @Time1 <= @LunchEnd
								Set @NormalHrs = @NormalHrs + DateDiff(mi,@LunchEnd,@ShiftEnd)
							Else
								Set @NormalHrs = @NormalHrs + DateDiff(mi,@Time1,@ShiftEnd)
					End
			End
			Else
				/*-- Calculation of @OutPass hours*/
				If @Time2 <= @ShiftStart Or @Time1 >= @ShiftEnd
				Begin
					If @sOPFlag = 'O'
						Begin
						Set @iActualOPHrs = DateDiff(mi,@Time1,@Time2)
						if @iBOutPassHrs=0 
						    begin
							print 'update 1'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where 
								EmpId = @Empcode and 				
								TransTime =  @TransTime and IoFlag = @IOFlag							
							end
						If @iActualOPHrs > @iBOutPassHrs
		  				  Set @ExtraHrs = @ExtraHrs + @iBOutPassHrs
						Else
  						  Set @ExtraHrs = @ExtraHrs + @iActualOPHrs
						End
					Else
						Set @OutPass = @OutPass --+ DateDiff(mi,@Time1,@Time2)
				End
				Else
					If @Time1 <= @ShiftStart And @Time2 >= @ShiftEnd
					 begin				 
 					  If @sOPFlag = 'O'
					      begin
						Set @iActualOPHrs = (DateDiff(mi,@Time1,@Time2) - DateDiff(mi,@LunchStart,@LunchEnd))
						if @iBOutPassHrs=0 
						    begin
							print 'update 2'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where EmpId = @Empcode and TransTime =  @TransTime and IoFlag = @IOFlag	
							end

						If @iActualOPHrs > @iBOutPassHrs

						  begin
							 Set @TempTime = (DateDiff(mi,@ShiftStart,@ShiftEnd) - DateDiff(mi,@LunchStart,@LunchEnd))
							 If @TempTime > @iBOutPassHrs
								Set @NormalHrs = @NormalHrs + @iBOutPassHrs
							 Else
							   begin	
	   						      Set @NormalHrs = @NormalHrs + @TempTime
							      Set @ExtraHrs = @ExtraHrs + @iBOutPassHrs - @TempTime
							   end	
						   end	
						Else
							Begin
							Set @NormalHrs = @NormalHrs + (DateDiff(mi,@ShiftStart,@LunchStart) + DateDiff(mi,@LunchEnd,@ShiftEnd))
							Set @ExtraHrs = @ExtraHrs + (DateDiff(mi,@Time1,@ShiftStart) + Datediff(mi,@ShiftEnd,@Time2))
							End
					     End
					   Else
					     set @OutPass = @OutPass + (DateDiff(mi,@Time1,@Time2) - DateDiff(mi,@LunchStart,@LunchEnd))
				     end	
				Else
				    If @Time1 >= @ShiftStart And @Time2 <= @ShiftEnd
				     Begin
					If @Time1 >= @LunGraceStart And @Time1 <= @LunchStart
					Set @Time1 = @LunchStart
					If @Time2 >= @LunchEnd And @Time2 <= @LunGraceEnd
					Set @Time2 = @LunchEnd
					If @Time2 <= @LunchStart Or @Time1 >= @LunchEnd
						Begin
						Set @iActualOPHrs = DateDiff(mi,@Time1,@Time2)
						If @sOPFlag = 'O'
							Begin
							if @iBOutPassHrs=0 
						    begin
							print 'update 3'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where EmpId = @Empcode and TransTime =  @TransTime and IoFlag = @IOFlag	
							end

							If @iActualOPHrs > @iBOutPassHrs
							  Set @NormalHrs = @NormalHrs + @iBOutPassHrs
							Else
							   Set @NormalHrs = @NormalHrs + @iActualOPHrs
							end
						Else
							Set @OutPass = @OutPass + @iActualOPHrs
						end
					Else
					If @Time1 <= @LunchStart And @Time2 >= @LunchEnd
						Begin
						Set @iActualOPHrs = (DateDiff(mi,@Time1,@Time2) - DateDiff(mi,@LunchStart,@LunchEnd))
						If @sOPFlag = 'O'
							Begin
							if @iBOutPassHrs=0 
						    begin
							print 'update 4'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where EmpId = @Empcode and TransTime =  @TransTime and IoFlag = @IOFlag	
							end

							   If @iActualOPHrs > @iBOutPassHrs
							      Set @NormalHrs = @NormalHrs + @iBOutPassHrs
							    Else
							      Set @NormalHrs = @NormalHrs + @iActualOPHrs
							End
						Else
						 Set @OutPass = @OutPass + @iActualOPHrs
						end
					Else
					If @Time1 <= @LunchStart And @Time2 < @LunchEnd
					     begin
			 			 Set @iActualOPHrs = DateDiff(mi,@Time1,@LunchStart)
						 If @sOPFlag = 'O'
						  begin
							if @iBOutPassHrs=0 
						    begin
							print 'update 5'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where EmpId = @Empcode and 	TransTime =  @TransTime and IoFlag = @IOFlag
							end

							If @iActualOPHrs > @iBOutPassHrs
							  Set @NormalHrs = @NormalHrs + @iBOutPassHrs
							Else
							  Set @NormalHrs = @NormalHrs + @iActualOPHrs
						  end
						   Else
						  Set @OutPass = @OutPass + @iActualOPHrs
 			 			end	
					Else
                  			If @Time1 >= @LunchStart And @Time2 > @LunchEnd
					  begin
							Set @iActualOPHrs = DateDiff(mi,@LunchEnd,@Time2)
							If @sOPFlag = 'O'
							  begin	
								if @iBOutPassHrs=0 
						    begin
							print 'update 6'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where EmpId = @Empcode and TransTime =  @TransTime and IoFlag = @IOFlag
							end
  								If @iActualOPHrs > @iBOutPassHrs
									Set @NormalHrs = @NormalHrs + @iBOutPassHrs
								Else
									Set @NormalHrs = @NormalHrs + @iActualOPHrs
							  end
							Else
	 						Set @OutPass = @OutPass + @iActualOPHrs
					  end
					Else
					If @Time1 < @ShiftStart And @Time2 <= @ShiftEnd
					 begin
						If @Time2 >= @LunchEnd And @Time2 <= @LunGraceEnd
							Set @Time2 = @LunchEnd
							Set @iActualOPHrs = DateDiff(mi,@Time1,@Time2)
							If @Time2 < @LunchStart
							Set @TempTime = DateDiff(mi,@ShiftStart,@Time2)
							Else
							If @Time2 < @LunchEnd
							 begin
								Set @iActualOPHrs = @iActualOPHrs - (DateDiff(mi,@LunchStart,@Time2))
								Set @TempTime = DateDiff(mi,@ShiftStart,@LunchStart) / 1440.0
							 End
							 Else
							 Begin
								Set @iActualOPHrs = @iActualOPHrs - DateDiff(mi,@LunchStart,@LunchEnd)   -- * 1440.0
								Set @TempTime = (DateDiff(mi,@ShiftStart,@LunchStart) + DateDiff(mi,@LunchEnd,@Time2))
							 End
						If @sOPFlag = 'O'
						  Begin
							if @iBOutPassHrs=0 
						    begin
							print 'update 7'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where EmpId = @Empcode and 	TransTime =  @TransTime and IoFlag = @IOFlag
							end
							If @iActualOPHrs > @iBOutPassHrs
							Begin
							    If @TempTime > @iBOutPassHrs
									Set @NormalHrs = @NormalHrs + @iBOutPassHrs
							    Else
								Begin
									Set @NormalHrs = @NormalHrs + @TempTime
									Set @ExtraHrs = @ExtraHrs + @iBOutPassHrs - @TempTime
								End
							  end
            					        Else
							begin
							   If @TempTime > @iActualOPHrs
								Set @NormalHrs = @NormalHrs + @iActualOPHrs
        					    Else
							      Begin
									Set @NormalHrs = @NormalHrs + @TempTime
									Set @ExtraHrs = @ExtraHrs + @iActualOPHrs - @TempTime
							      End
						        end	
						  end	
					        Else
						Set @OutPass = @OutPass + @iActualOPHrs
					  end
					end
					Else
					If @Time1 >= @ShiftStart And @Time2 > @ShiftEnd
					  begin
						If @Time1 > @LunchEnd And @Time1 <= @LunGraceEnd
							Set @Time1 = @LunchEnd
							Set @iActualOPHrs = DateDiff(mi,@Time1,@ShiftEnd) --@Time2)
							If @Time1 < @LunchStart
								Begin
								Set @iActualOPHrs = @iActualOPHrs - DateDiff(mi,@LunchStart,@LunchEnd)
								Set @TempTime = (DateDiff(mi,@Time1,@LunchStart) + DateDiff(mi,@LunchEnd,@ShiftEnd))
								End
							Else
							  begin
								If @Time1 < @LunchEnd
									Begin
									Set @iActualOPHrs = @iActualOPHrs - DateDiff(mi,@Time1,@LunchEnd)
									Set @TempTime = DateDiff(mi,@LunchEnd,@ShiftEnd)
									End
								Else
									Set @TempTime = DateDiff(mi,@Time1,@ShiftEnd)
 							 end
						If @sOPFlag = 'O'
						   begin	
							if @iBOutPassHrs=0 
						    begin
							print 'update 8'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where EmpId = @Empcode and TransTime =  @TransTime and IoFlag = @IOFlag	
							end
							If @iActualOPHrs > @iBOutPassHrs
							 Begin
								If @TempTime > @iBOutPassHrs
									Set @NormalHrs = @NormalHrs + @iBOutPassHrs
								 Else
									Begin
									Set @NormalHrs = @NormalHrs + @TempTime
									Set @ExtraHrs = @ExtraHrs + @iBOutPassHrs - @TempTime
									end
							  End
							Else
							   begin
								If @TempTime > @iActualOPHrs
									Set @NormalHrs = @NormalHrs + @iActualOPHrs
								Else
									Begin
									Set @NormalHrs = @NormalHrs + @TempTime
									Set @ExtraHrs = @ExtraHrs + @iActualOPHrs - @TempTime
									End
							    end
						   end
						Else
							Set @OutPass = @OutPass  + @iActualOPHrs
				end
		End
		--Calculation of @LateIn,@EarlyOutHrs and attid should be done */
		Set @LateIn = 0
		Set @EarlyOutHrs = 0
		Set @I = 1
		Fetch First From c_DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
		Set @LateIn = DateDiff(mi,@ShiftStart,@TransTime)
		If @LateIn < 0
			Set @LateIn = 0
		If @OPFlag = 'O'
		Begin
			Set @NormalHrs = @NormalHrs + @BOutPasshrs
			Set @LateIn = @LateIn - @BOutPasshrs
		End
		Set @I = @cntDp
		Fetch Last From c_DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
		Set @EarlyOutHrs = DateDiff(mi,@TransTime,@ShiftEnd)
		If @EarlyOutHrs < 0
			Set @EarlyOutHrs = 0
		If @OPFlag = 'O'
		Begin
			Set @NormalHrs = @NormalHrs + @BOutPasshrs
			Set @EarlyOutHrs = @EarlyOutHrs - @BOutPasshrs
		End
		If @LateIn <= @SftGraceIn
		Begin
			Set @NormalHrs = @NormalHrs + @LateIn
			Set @LateIn = 0
		End
		If @EarlyOutHrs <= @SftGraceOut
		Begin
			Set @NormalHrs = @NormalHrs + @EarlyOutHrs
			Set @EarlyOutHrs = 0
		End
		Set @AttnId = 'AA'                   /* --- For Replacing Purpose*/
		set @attid='AA'
		declare @Pdate varchar(10)
		set  @Pdate =convert(varchar(10),@Tdt,101)
		--exec ProcLateDeduction @EmpCode,@Pdate

		--If Upper(LTrim(RTrim(@AttnId))) = 'HH' Or Upper(LTrim(RTrim(@AttId))) = 'HH'
		if @StrHoliday='HH' --and @Locid=@location  -@LeaveTypeId='00' and 
		Begin
			set @AttId='HH' 
			set @Attnid='HH'
			Begin Transaction
			Update tblMuster set attid=@StrHoliday Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11)) 
			Commit Transaction
			Set @AttnId = 'HH'
			Set @ExtraHrs = @ExtraHrs + @NormalHrs
			Set @NormalHrs = 0
			Set @EarlyOutHrs = 0
			Set @LateIn = 0
		End
		Else
		Begin
--			Print 'Datediff11 '  + str(DateDiff(mi,@ShiftStart,@ShiftEnd))
			If @LateIn >= DateDiff(mi,@ShiftStart,@ShiftEnd)
			Begin
				Set @AttnId = 'AA'
				Set @LateIn = 0
--				Print '@LateIn >= DateDiff(mi,@ShiftStart,@ShiftEnd)'
			End
			Else
			Begin
--				Print 'Else @LateIn >= DateDiff(mi,@ShiftStart,@ShiftEnd)'
--				Print 'LateIn c' + Str(@LateIn)
--				Print 'DateDiff ' 
--				Print(DateDiff(mi,@ShiftStart,@LunchEnd))			
				If @LateIn > 180 --DateDiff(mi,@ShiftStart,@LunchEnd)
				Begin
--					Print '@LateIn >= DateDiff(mi,@ShiftStart,@LunchEnd)'
					Set @AttnId = 'A' + SubString(@ShiftCode, 2, 1)
					Set @LateIn = 0 --@LateIn - DateDiff(mi,@ShiftStart,@LunchEnd)
				End
				Else
				Begin
--					Print 'Else @LateIn >= DateDiff(mi,@ShiftStart,@LunchEnd)'
					If @LateIn >= DateDiff(mi,@ShiftStart,@LunchStart)
					Begin
--						Print '@LateIn >= DateDiff(mi,@ShiftStart,@LunchStart)'
						Set @AttnId = 'A' + SubString(@ShiftCode, 2, 1)
						Set @LateIn = @LateIn - DateDiff(mi,@ShiftStart,@LunchEnd)
					End
					Else
--						Print 'Else @LateIn >= DateDiff(mi,@ShiftStart,@LunchStart)'
						Set @AttnId = right(@ShiftCode,1) + right(@AttnId,1)
				End
			End
			If @EarlyOutHrs >= DateDiff(mi,@ShiftStart,@ShiftEnd)
			Begin
--				Print '@EarlyOutHrs >= DateDiff(mi,@ShiftStart,@ShiftEnd)'
				Set @AttnId = 'AA'
				Set @EarlyOutHrs = 0
			End
			Else
			Begin
--				Print 'Else @EarlyOutHrs >= DateDiff(mi,@ShiftStart,@ShiftEnd)'
				If @EarlyOutHrs >= 150 --DateDiff(mi,@LunchStart,@ShiftEnd)
				Begin
--					Print '@EarlyOutHrs >= DateDiff(mi,@LunchStart,@ShiftEnd)'
					Set @AttnId = left(@attnid, 1) + 'A'
					Set @EarlyOutHrs =0 -- @EarlyOutHrs - DateDiff(mi,@LunchStart,@ShiftEnd)
				End
				Else
				Begin
--					Print 'Else @EarlyOutHrs >= DateDiff(mi,@LunchStart,@ShiftEnd)'
					If @EarlyOutHrs > DateDiff(mi,@LunchEnd,@ShiftEnd)
					Begin
--						Print '@EarlyOutHrs >= DateDiff(mi,@LunchEnd,@ShiftEnd)'
						Set @AttnId = SubString(@ShiftCode, 2, 1) + 'A'
						Set @EarlyOutHrs = @EarlyOutHrs - DateDiff(mi,@LunchStart,@ShiftEnd)
						If @EarlyOutHrs < 0
							Set @EarlyOutHrs = 0
					End
					Else
--						Print 'Else @EarlyOutHrs >= DateDiff(mi,@LunchEnd,@ShiftEnd)'
--print @attnid
--print @ShiftCode
						Set @AttnId = left(@AttnId,1) + right(@ShiftCode,1)

--print @attnid
				End
			End

--			Print 'EarlyOutI '
--			Print @EarlyOutHrs  
--			Print 'AtIdI ' +  @AttnId
		End
		--    Update late in if there is any bus late entries */
--		Declare c_Late Scroll Cursor For Select LateBy from TblBusLateEntries,TblEmpMast where EmpId = RTRim(LTrim(@EmpCode)) and
--				TDate = @TDt and TblBusLateEntries.ShiftId = @ShiftCode and
--					TblBusLateEntries.BusRtId = TblEmpMast.BusRtId and TblBusLateEntries.Locationcode=@location 
--		Open c_Late
--		Fetch first From c_Late Into @BusLateBy
--		Declare @cntLate Int
--		Select @cntLate = @@Cursor_Rows
--		Close c_Late
--		Deallocate c_Late
--		If @cntLate > 0
--		Begin
--			If @BusLateBy Is Null
--			Begin
----				Print 'Bus  ' + Str(@BusLateBy)
--				Set @BusLateBy = 0
--			End
----			Print 'Bus c'
--		End
--		Else
			Set @BusLateBy = 0
--		Print 'Bus late' + Str(@BusLateBy)
--		Print 'Late B' + str(@LateIn)
		Set @LateIn = @LateIn - @BusLateBy
--		Print 'Late A' + str(@LateIn)
--		Print 'SOT ' + Str(@SingleOT)
--		Print 'DOT ' + Str(@DoubleOT)
--		Print 'COFF' + Str(@CompOff)

		If @LateIn < 0
			Set @LateIn = 0
		If @ExtraHrs < @GraceOT
			Set @ExtraHrs = 0
		If @ExtraHrs < @SingleOT
			Set @SingleOT = 0
		If @ExtraHrs < @DoubleOT
			Set @DoubleOT = 0
		If @ExtraHrs < @CompOff
			Set @CompOff = 0
			
		Begin Transaction
--		declare CadreCur scroll cursor for select cadreid from tblempmast where empid=RTrim(LTrim(@EmpCode))
        declare @lateinflag char(1),@earlyoutflag char(1)
		--declare CadreCur scroll cursor for select cadregroup,lateinflag,earlyoutflag from tblcadres where cadreid =(select cadreid from tblempmast where empid=RTrim(LTrim(@EmpCode)))
		--open CadreCur
		--fetch first from CadreCur into @cadreid,@lateinflag,@earlyoutflag
		--if @@fetch_status =0
		-- begin
		--		if @lateinflag='0'
		--			set @Latein=0
		--		if @earlyoutflag='0'
		--			set @EarlyOutHrs=0
		--	if upper(left(ltrim(rtrim(@cadreid)),1))='M'
		--	begin				
		--		if @NormalHrs<=120 and @NormalHrs>0 and @AttnId<>'**'
		--		   begin	
		--			set @AttnId='AA'		
		--			set @Latein=0
		--			set @EarlyOutHrs=0

		--		   end	
		--	end
		--	else
		--	  if @NormalHrs<=30 and @NormalHrs>0 and @AttnId<>'**'
		-- 			begin
		--				set @Latein=0
		--				set @EarlyOutHrs=0
		--				set @AttnId='AA'		
		--			end
  --      end
		--deallocate CadreCur
		SET @cadreid      ='STAFF';
		SET @lateinflag   = 'T';
		SET @earlyoutflag ='T';
		
		print 'Step3'
		UpDate TblMuster Set AttId=@AttnId,HrsWorked=@NormalHrs,OutPasses=@OutPass,LatePunch = @LateIn,EarlyOut = @EarlyOutHrs,
				ExtraHours = @ExtraHrs,SingleOT = @SingleOT,DoubleOT = @DoubleOT ,CompOff = @CompOff,ErrCodeID = 0 Where  EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
		Commit Transaction
		Declare DailyTransactions Scroll Cursor For Select IOFlag,TransTime,BOutPassHrs,OPFlag from TblDailyTransactions where AttendanceDate = convert(datetime,@tdt,101) and EmpId = RTrim(LTrim(@EmpCode)) and Deleted = 'F' Order by TransTime
		Open DailyTransactions
		Fetch First From DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
		/*-- Collect the punches from the daily transactions table */
		If @@fetch_status = 0
		Begin
			if upper(@OPFlag)='O' and @LateIn>0 
			 begin
				set @iBOutPassHrs=@latein
				update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs where EmpId = @Empcode and TransTime =  @TransTime and IoFlag = @IOFlag
				UpDate TblMuster Set LatePunch =0 Where  EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
			 end
		end
		Fetch last From DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
		If @@fetch_status = 0
		Begin
			if upper(@OPFlag)='O' and @EarlyOutHrs>0 
			 begin
				set @iBOutPassHrs=@EarlyOutHrs
				update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs where EmpId = @Empcode and TransTime =  @TransTime and IoFlag = @IOFlag
				UpDate TblMuster Set EarlyOut =0 Where  EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
			 end
		end
		close DailyTransactions
		deallocate DailyTransactions
		Set @ComputeAttendanceFor = 0
		Close c_DailyTransactions
		Deallocate c_DailyTransactions
		print 'ook'
	End
	Else
	Begin
	print 'WKOFF'
		/*-- Calculation of Hrs Worked for the employee who is present on a weekly-off day*/
		Set @I = 1
		Declare @cntPunch Bit
		Set @cntPunch = 1
		While @cntPunch = 1
		Begin
			Set @EmpStatus = Upper(@IOFlag)
			Set @Time1 = @TransTime
			Set @iBOutPassHrs = @BOutPassHrs
			Set @sOPFlag = Upper(@OPFlag)
			if @CFinLout ='T'
			Begin
				Set @I = @I + 1
				Fetch Last From c_DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
				Set @Time2 = @TransTime
				Set @I = @cntPunch + 1
				Set @cntPunch = 0
			--Print 'Time2222222'
			--Print @Time2
			End
			Else
			Begin
				Set @I = @I + 1
				Fetch Next From c_DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
			End
			if @@fetch_status<>0
--				Return 
				break
--			If @I > @cntDp
--			Begin
--				Set @cntPunch = 0
--				set @dtfrom=dateadd(day,1,@dtfrom)
--				Return 
--			End
			Set @Time2 = @TransTime
			If @EmpStatus = 'I'
				begin
				  Set @ExtraHrs = @ExtraHrs + DateDiff(mi,@Time1,@Time2)
				print '17'
				end
			Else
			Begin
				Set @TempTime = DateDiff(mi,@Time1,@Time2)
				If @sOPFlag = 'O'
				Begin
					If @iBOutPassHrs > @TempTime
						begin
						Set @ExtraHrs = @ExtraHrs + @TempTime
						print '18'
						end
					Else
						begin
						Set @ExtraHrs = @ExtraHrs + @iBOutPassHrs
--						print @iBOutPassHrs
						print '22'
						end
				End
				Else
					Set @OutPass = 0 --@OutPass + @TempTime
			End
		End
		If @ExtraHrs < @GraceOT
			Set @ExtraHrs = 0
		If Upper(LTrim(RTrim(@AttId))) <> 'HH'
		Begin
			Set @AttnId = 'WW'
			Set @ExtraHrs = @ExtraHrs + @NormalHrs
			Set @NormalHrs = 0
		End
--		Print 'Attn Id ' + @AttnId
		Set @LateIn = 0
		Set @EarlyOutHrs = 0
--		Print 'Calculation of Hrs Worked'
		If @ShiftCode = 'WW'
			Set @AttnId = 'WW'
		Else
			Set @AttnId = 'HH'
		Begin Tran
--		Print 'AttID ' + @AttnId
--		Print 'Nor Hrs ' + Str(@NormalHrs)
--		Print 'OP ' + Str(@OutPass)
--		Print 'Late ' + str(@LateIn)
--		Print 'EarlyOut ' + Str(@EarlyOutHrs)
--		Print 'Ex Hrs' + Str(@ExtraHrs)
		print 'Update'
		UpDate TblMuster Set AttId=@AttnId,HrsWorked=@NormalHrs,OutPasses=@OutPass,LatePunch = @LateIn,EarlyOut = @EarlyOutHrs,
				ExtraHours = @ExtraHrs,SingleOT = @SingleOT,DoubleOT = @DoubleOT ,CompOff = @CompOff,ErrCodeID = 0 Where  EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
		Commit Transaction
		Close c_DailyTransactions
		Deallocate c_DailyTransactions
		Set @ComputeAttendanceFor = 0
 		set @dtfrom=dateadd(day,1,@dtfrom)
--		Return 
		continue
	End
End
Else
Begin
	/*-- if no punches are present, mark absent or weekly-off or holiday and return */
	If Upper(@ShiftId) = 'WW'
		Set @AttnId = 'WW'
	Else

	Begin
		If Upper(@AttId) <> 'HH'
			Set @AttnId = 'AA'
		Else
		Begin
			If Upper(@AttId) = 'HH'
				Set @AttnId = 'HH'
		End

	End
--	Print 'if no punches'
	Begin Transaction

--		Print 'AttID ' + @AttnId
---		Print 'Nor Hrs ' + Str(@NormalHrs)
--		Print 'OP ' + Str(@OutPass)
--		Print 'Late ' + str(@LateIn)
--		Print 'EarlyOut ' + Str(@EarlyOutHrs)
--		Print 'Ex Hrs' + Str(@ExtraHrs)
	UpDate TblMuster Set Attid=@AttnId,hrsworked = 0,OutPasses = 0,latepunch = 0,ExtraHours = 0,@SingleOT = @SingleOT,@DoubleOT = @DoubleOT,@CompOff = 0,EarlyOut = 0,ErrCodeID = 0 Where  EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
	if @@error<>0
	    begin
		rollback transaction
		Close c_DailyTransactions
		Deallocate c_DailyTransactions
		Set @ComputeAttendanceFor = 1
                set @dtfrom=dateadd(day,1,@dtfrom)
	    end
	Commit Transaction
	Close c_DailyTransactions
	Deallocate c_DailyTransactions
--	Print 'Updated Wkoff absent'
	Set @ComputeAttendanceFor = 0
    End
    set @dtfrom=dateadd(day,1,@dtfrom)
end
Set @ComputeAttendanceFor = 0
return @ComputeAttendanceFor

-- exec ComputeAttendanceFor '00000011255','03/01/2026','03/31/2026','STAFF',0
GO
/****** Object:  StoredProcedure [dbo].[CreateMusterFor]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajagopal
-- Create date: 04-Apr-2026
-- Description:	Procedure to create Muster for employees
-- =============================================
CREATE   PROCEDURE [dbo].[CreateMusterFor]
(
    @EmpCode         VARCHAR(11),
    @TempDate9       VARCHAR(10),
    @FileNum         SMALLINT,
    @CreateMusterFor BIT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE 
        @TempDate        DATETIME,
        @EmpShiftType    VARCHAR(2),
        @ShiftId         VARCHAR(2),
        @WOD             SMALLINT,
        @WOD2            SMALLINT,
        @SPId            VARCHAR(2),
        @SRSlno          SMALLINT,
        @NODs            SMALLINT,
        @IRSuccess       BIT = 0,
        @UpdateHolidays  INT,

        -- Leave variables
        @LeaveTypeId     VARCHAR(2),
        @DateFrom        DATETIME,
        @DateTo          DATETIME,
        @CurDateTime     DATETIME,
        @FromHalfDayFlag VARCHAR(1),
        @ToHalfDayFlag   VARCHAR(1),
        @NoOfDays        INT;

    BEGIN TRY
        BEGIN TRAN;

        -- ============================
        -- DATE CONVERSION
        -- ============================
        SET @TempDate = TRY_CONVERT(DATETIME, @TempDate9, 101);
        -- ============================
        -- CURRENT DATETIME
        -- ============================
        SET @CurDateTime = SYSDATETIME();

        IF @TempDate IS NULL
        BEGIN
            EXEC [HRMS_DB].[dbo].WriteErrToFile 
                    @FileNum   = @FileNum,
                    @EmpCode   = @EmpCode,
                    @Tdate     = @CurDateTime,
                    @message   = 'Invalid Date Format';
            SET @CreateMusterFor = 0;
            ROLLBACK TRAN;
            RETURN;
        END

        -- ============================
        -- FETCH EMPLOYEE
        -- ============================
        SELECT TOP 1
            @EmpShiftType = 'F',
            @ShiftId      = 'AG',
            @WOD          = 7,
            @WOD2         = 1,
            @SPId         = 0,
            @SRSlno       = 0,
            @NODs         = 0
        FROM tblempmast WITH (NOLOCK)
        WHERE EmployeeId = @EmpCode;

        IF @EmpShiftType IS NULL
        BEGIN
            EXEC WriteErrToFile 
                    @FileNum   = @FileNum,
                    @EmpCode   = @EmpCode,
                    @Tdate     = @CurDateTime,
                    @message   = 'Employee not found';
            SET @CreateMusterFor = 0;
            ROLLBACK TRAN;
            RETURN;
        END

        IF @WOD2 NOT BETWEEN 1 AND 7
            SET @WOD2 = NULL;

        -- ============================
        -- SHIFT LOGIC
        -- ============================
        IF @EmpShiftType = 'F'
        BEGIN
            SET @SPId = @ShiftId;

            EXEC p_insertrecords 
                @EmpCode, @TempDate, @EmpShiftType, @SPId,
                @WOD, @WOD2, 0, 0,
                @IRSuccess OUTPUT;
        END
        ELSE IF @EmpShiftType = 'R'
        BEGIN
            EXEC p_insertrecords 
                @EmpCode, @TempDate, @EmpShiftType, @SPId,
                NULL, NULL, @SRSlno, @NODs,
                @IRSuccess OUTPUT;

        END
        ELSE IF @EmpShiftType = 'A'
        BEGIN
            EXEC p_insertrecords 
                @EmpCode, @TempDate, @EmpShiftType, @ShiftId,
                @WOD, @WOD2, 0, 0,
                @IRSuccess OUTPUT;
        END
        ELSE IF @EmpShiftType = 'O'
        BEGIN
            EXEC p_insertrecords 
                @EmpCode, @TempDate, @EmpShiftType, '',
                @WOD, @WOD2, 0, 0,
                @IRSuccess OUTPUT;
        END
        ELSE
        BEGIN
            EXEC WriteErrToFile 
                    @FileNum   = @FileNum,
                    @EmpCode   = @EmpCode,
                    @Tdate     = @CurDateTime,
                    @message   = 'Invalid Shift Type';
            SET @CreateMusterFor = 0;
            ROLLBACK TRAN;
            RETURN;
        END

        -- ============================
        -- INSERT VALIDATION
        -- ============================
        IF @IRSuccess = 0
        BEGIN
            EXEC WriteErrToFile 
                @Filenum = @FileNum,
                @Empcode = @EmpCode,
                @Tdate     = @CurDateTime,
                @message = 'Muster already exists or insert failed';
            SET @CreateMusterFor = 0;
            ROLLBACK TRAN;
            RETURN;
        END

        -- ============================
        -- UPDATE HOLIDAYS
        -- ============================
        --EXEC UpdateHolidays @TempDate, @UpdateHolidays OUTPUT;

        -- ============================
        -- SUCCESS
        -- ============================
        COMMIT TRAN;        

        SET @CreateMusterFor = 1;
    END TRY

    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();

        EXEC WriteErrToFile 
                    @FileNum   = @FileNum,
                    @EmpCode   = @EmpCode,
                    @Tdate     = @CurDateTime,
                    @message   = @ErrorMessage;

        SET @CreateMusterFor = 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CreateMusterServiceProc]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:       Rajagopal
-- Create date:  04-Apr-2026
-- Modified:     16-Apr-2026
-- Description:  Procedure to create Muster and compute attendance for employees
-- Changes:
--   1. Skip muster creation if a record already exists for the employee + date
--   2. If muster is newly created  → ComputeAttendanceFor runs for the ENTIRE month
--   3. If muster already existed   → ComputeAttendanceFor runs for the given date only
-- =============================================
CREATE   PROCEDURE [dbo].[CreateMusterServiceProc]
    @fromDate DATETIME,
    @empid    VARCHAR(11)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @MFDate               VARCHAR(11),
        @MonthStart           VARCHAR(11),
        @MonthEnd             VARCHAR(11),
        @CreateMusterFor      BIT,
        @ComputeAttendanceFor SMALLINT,
        @mEmpid               VARCHAR(11),
        @MusterCreated        BIT;

    -- Date for CreateMusterFor  (MM/DD/YYYY)
    SET @MFDate     = CONVERT(VARCHAR(10), @fromDate, 101);

    -- First day of the month of @fromDate
    SET @MonthStart = CONVERT(VARCHAR(10),
                        DATEFROMPARTS(YEAR(@fromDate), MONTH(@fromDate), 1),
                        101);

    -- Last day of the month of @fromDate
    SET @MonthEnd   = CONVERT(VARCHAR(10),
                        EOMONTH(@fromDate),
                        101);

    BEGIN TRY
        BEGIN TRAN;

        -- =============================================
        -- CASE 1: All active employees
        -- =============================================
        IF @empid = ''
        BEGIN
            DECLARE emp_fetch CURSOR LOCAL FAST_FORWARD FOR
                SELECT EmployeeID
                FROM Tblempmast
                WHERE IsActive = 1;

            OPEN emp_fetch;
            FETCH NEXT FROM emp_fetch INTO @mEmpid;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                SET @MusterCreated = 0;

                -- Create muster ONLY if it does not already exist for this employee + date
                IF NOT EXISTS (
                    SELECT 1
                    FROM TblMuster WITH (NOLOCK)
                    WHERE EmployeeId = @mEmpid
                      AND TDate      = @fromDate
                )
                BEGIN
                    EXEC CreateMusterFor
                        @EmpCode         = @mEmpid,
                        @TempDate9       = @MFDate,
                        @FileNum         = 1,
                        @CreateMusterFor = @CreateMusterFor OUTPUT;

                    SET @MusterCreated = ISNULL(@CreateMusterFor, 0);
                END

                -- If muster was newly created → compute for the entire month
                -- If muster already existed   → compute for the given date only
                IF @MusterCreated = 1
                BEGIN
                    EXEC ComputeAttendanceFor
                        @EmpCode              = @mEmpid,
                        @TDf5                 = @MonthStart,
                        @TDt5                 = @MonthEnd,
                        @location             = '',
                        @ComputeAttendanceFor = @ComputeAttendanceFor OUTPUT;
                END
                ELSE
                BEGIN
                    EXEC ComputeAttendanceFor
                        @EmpCode              = @mEmpid,
                        @TDf5                 = @MFDate,
                        @TDt5                 = @MFDate,
                        @location             = '',
                        @ComputeAttendanceFor = @ComputeAttendanceFor OUTPUT;
                END

                FETCH NEXT FROM emp_fetch INTO @mEmpid;
            END

            CLOSE emp_fetch;
            DEALLOCATE emp_fetch;
        END

        -- =============================================
        -- CASE 2: Single specific employee
        -- =============================================
        ELSE
        BEGIN
            SET @MusterCreated = 0;

            -- Create muster ONLY if it does not already exist for this employee + date
            IF NOT EXISTS (
                SELECT 1
                FROM TblMuster WITH (NOLOCK)
                WHERE EmployeeId = @empid
                  AND TDate      = @fromDate
            )
            BEGIN
                EXEC CreateMusterFor
                    @EmpCode         = @empid,
                    @TempDate9       = @MFDate,
                    @FileNum         = 1,
                    @CreateMusterFor = @CreateMusterFor OUTPUT;

                SET @MusterCreated = ISNULL(@CreateMusterFor, 0);
            END

            -- If muster was newly created → compute for the entire month
            -- If muster already existed   → compute for the given date only
            IF @MusterCreated = 1
            BEGIN
                EXEC ComputeAttendanceFor
                    @EmpCode              = @empid,
                    @TDf5                 = @MonthStart,
                    @TDt5                 = @MonthEnd,
                    @location             = '',
                    @ComputeAttendanceFor = @ComputeAttendanceFor OUTPUT;
            END
            ELSE
            BEGIN
                EXEC ComputeAttendanceFor
                    @EmpCode              = @empid,
                    @TDf5                 = @MFDate,
                    @TDt5                 = @MFDate,
                    @location             = '',
                    @ComputeAttendanceFor = @ComputeAttendanceFor OUTPUT;
            END
        END

        COMMIT TRAN;
    END TRY

    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;

        DECLARE
            @ErrorMessage  NVARCHAR(4000),
            @ErrorSeverity INT,
            @ErrorState    INT;

        SELECT
            @ErrorMessage  = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState    = ERROR_STATE();

        PRINT 'Error: ' + @ErrorMessage;
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[p_DeleteDuplicatePunches]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[p_DeleteDuplicatePunches]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @DuplicatePeriod INT,
        @PunchedTime DATETIME,
        @IOFlag CHAR(1),
        @Time1 DATETIME,
        @TransTime DATETIME,
        @PunchedTime1 DATETIME,
        @TempEmpId VARCHAR(11),
        @EmpId VARCHAR(11),
        @IOFlag1 CHAR(1);

    -- Get duplicate period
    SELECT @DuplicatePeriod = 10;

    PRINT 'Duplicate Period: ' + CAST(@DuplicatePeriod AS VARCHAR);

    IF (@DuplicatePeriod > 0)
    BEGIN
        DECLARE DuplicatePeriod_Cur CURSOR FOR
        SELECT EmpId, TransTime, PunchedTime, IOFlag
        FROM TblDailyTransactions
        WHERE AttendanceDate IS NULL
        ORDER BY EmpId, TransTime;

        OPEN DuplicatePeriod_Cur;

        FETCH NEXT FROM DuplicatePeriod_Cur 
        INTO @EmpId, @TransTime, @PunchedTime, @IOFlag;

        IF @@FETCH_STATUS = 0
        BEGIN
            SET @TempEmpId   = @EmpId;
            SET @Time1       = DATEADD(MINUTE, @DuplicatePeriod, @TransTime);
            SET @IOFlag1     = @IOFlag;
            SET @PunchedTime1 = @PunchedTime;

            FETCH NEXT FROM DuplicatePeriod_Cur 
            INTO @EmpId, @TransTime, @PunchedTime, @IOFlag;

            WHILE @@FETCH_STATUS = 0
            BEGIN
                IF (
                    @TransTime <= @Time1
                    AND @IOFlag1 = @IOFlag
                    AND @EmpId = @TempEmpId
                )
                BEGIN
                    UPDATE TblDailyTransactions
                    SET 
                        Deleted = 'T',
                        AttendanceDate = CAST(@PunchedTime1 AS DATE)
                    WHERE 
                        EmpId = @TempEmpId
                        AND CAST(PunchedTime AS DATE) = CAST(@PunchedTime1 AS DATE)
                        AND CAST(TransTime AS TIME) = CAST(@PunchedTime1 AS TIME)
                        AND IOFlag = @IOFlag1
                        AND AttendanceDate IS NULL;

                    PRINT 'Duplicate marked for EmpId: ' + @TempEmpId;
                END

                -- Reset comparison values
                SET @TempEmpId    = @EmpId;
                SET @Time1        = DATEADD(MINUTE, @DuplicatePeriod, @TransTime);
                SET @IOFlag1      = @IOFlag;
                SET @PunchedTime1 = @PunchedTime;

                FETCH NEXT FROM DuplicatePeriod_Cur 
                INTO @EmpId, @TransTime, @PunchedTime, @IOFlag;
            END
        END

        CLOSE DuplicatePeriod_Cur;
        DEALLOCATE DuplicatePeriod_Cur;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[p_DetermineAttendanceDate]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajagopal
-- Create date: 15-Apr-2026
-- Description:	Procedure to create Muster for employees
-- =============================================
CREATE   PROCEDURE  [dbo].[p_DetermineAttendanceDate]
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH BaseData AS
    (
        SELECT 
            EmpId,
            TransTime,
            IOFlag,
            PunchedTime,
            CAST(TransTime AS DATE) AS TAttnDate,
            DATEADD(HOUR, 5, DATEADD(MINUTE, 30, CAST(CAST(TransTime AS DATE) AS DATETIME))) AS CutOffTime
        FROM TblDailyTransactions
        WHERE AttendanceDate IS NULL
    ),

    LastAttendance AS
    (
        SELECT 
            EmpId,
            MAX(AttendanceDate) AS LastAttendDate
        FROM TblDailyTransactions
        WHERE AttendanceDate IS NOT NULL
        GROUP BY EmpId
    ),

    MinMaxTime AS
    (
        SELECT 
            t.EmpId,
            t.AttendanceDate,
            MIN(t.TransTime) AS MinTime,
            MAX(t.TransTime) AS MaxTime
        FROM TblDailyTransactions t
        WHERE t.AttendanceDate IS NOT NULL
        GROUP BY t.EmpId, t.AttendanceDate
    ),

    FinalCalc AS
    (
        SELECT 
            b.*,
            la.LastAttendDate,
            mm.MinTime,
            mm.MaxTime,

            CASE 
                -- Rule 1: Before cutoff → previous day
                WHEN b.TransTime <= b.CutOffTime 
                    THEN DATEADD(DAY, -1, b.TAttnDate)

                -- Rule 2: IOFlag = 'O' special logic
                WHEN b.IOFlag = 'O'
                     AND la.LastAttendDate IS NOT NULL
                     AND DATEDIFF(HOUR, mm.MinTime, b.TransTime) BETWEEN 0 AND 16
                     AND DATEDIFF(DAY, mm.MinTime, b.TransTime) = 1
                    THEN DATEADD(DAY, -1, b.TAttnDate)

                -- Rule 3: Default
                ELSE b.TAttnDate
            END AS DetAttnDate
        FROM BaseData b
        LEFT JOIN LastAttendance la 
            ON b.EmpId = la.EmpId
        LEFT JOIN MinMaxTime mm 
            ON b.EmpId = mm.EmpId 
           AND mm.AttendanceDate = la.LastAttendDate
    )

    UPDATE t
    SET AttendanceDate = f.DetAttnDate
    FROM TblDailyTransactions t
    INNER JOIN FinalCalc f
        ON t.EmpId = f.EmpId
       AND t.TransTime = f.TransTime
       AND t.IOFlag = f.IOFlag
       AND t.AttendanceDate IS NULL;

END
GO
/****** Object:  StoredProcedure [dbo].[p_DetermineShift]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajagopal
-- Create date: 04-Apr-2026
-- Description:	Procedure to create Muster for employees
-- =============================================
CREATE   PROCEDURE [dbo].[p_DetermineShift]
(
    @EmpCode   VARCHAR(11),
    @TransDate DATETIME,
    @GroupCode VARCHAR(2),
    @Shift     VARCHAR(2) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @Tdate        DATE,
        @FirstInTime  DATETIME,
        @LastOutTime  DATETIME,
        @DayCode      INT;

    BEGIN TRY
        -- ============================
        -- INITIAL SETUP
        -- ============================
        SET @Tdate = CAST(@TransDate AS DATE);
        SET @DayCode = DATEPART(WEEKDAY, @Tdate);
        SET @Shift = LTRIM(RTRIM(@GroupCode));

        -- ============================
        -- GET FIRST IN & LAST OUT
        -- ============================
        SELECT 
            @FirstInTime = MIN(TransTime),
            @LastOutTime = MAX(TransTime)
        FROM TblDailyTransactions WITH (NOLOCK)
        WHERE EmpId = @EmpCode
          AND AttendanceDate = @Tdate
          AND Deleted = 'F';

        -- If no records
        IF @FirstInTime IS NULL
            RETURN;

        -- ============================
        -- SHIFT MATCHING
        -- ============================
        ;WITH ShiftCTE AS
        (
            SELECT 
                ShiftId,
                StartTime,
                EndTime,
                DATEADD(HOUR, -1, DATEADD(DAY, DATEDIFF(DAY, 0, @Tdate), StartTime)) AS StTime,
                DATEADD(HOUR,  2, DATEADD(DAY, DATEDIFF(DAY, 0, @Tdate), StartTime)) AS EndTimeWindow,
                DATEADD(DAY, DATEDIFF(DAY, 0, @Tdate), StartTime) AS ActualStart,
                DATEADD(DAY, DATEDIFF(DAY, 0, @Tdate), EndTime)   AS ActualEnd
            FROM TblShiftDetails WITH (NOLOCK)
            WHERE LEFT(LTRIM(ShiftId),1) = LTRIM(@GroupCode)
              AND DayId = @DayCode
              AND RIGHT(RTRIM(ShiftId),1) <> 'G'
        )
        SELECT TOP 1 @Shift = ShiftId
        FROM ShiftCTE
        WHERE @FirstInTime BETWEEN StTime AND EndTimeWindow
        ORDER BY ShiftId;

    END TRY
    BEGIN CATCH
        -- fallback
        SET @Shift = LTRIM(RTRIM(@GroupCode));
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[p_InsertRecords]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajagopal
-- Create date: 04-Apr-2026
-- Description:	Procedure to create Muster for employees
-- =============================================
CREATE   PROCEDURE [dbo].[p_InsertRecords]
      @EmpCode VARCHAR(11),                 
      @SDate DATETIME,
      @EmpShiftType VARCHAR(2),
      @SPId VARCHAR(2),
      @WOD SMALLINT,
      @WOD2 SMALLINT,
      @SRSlno INT,
      @NoDays INT,
      @return BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE 
            @StDate DATETIME, 
            @EdDate DATETIME, 
            @TempDate DATETIME,
            @TShift VARCHAR(2),
            @PId INT,
            @ShiftId VARCHAR(2),
            @ShiftRtnNo INT,
            @NoOfDays INT,
            @iSftNo INT = 1,
            @iNoDs INT;

        SET @return = 0;

        --------------------------------------------------
        -- Date Range
        --------------------------------------------------
        SET @StDate = DATEFROMPARTS(YEAR(@SDate), MONTH(@SDate), 1);
        SET @EdDate = DATEADD(MONTH, 1, @StDate);
        SET @TempDate = @StDate;

        SET @EmpShiftType = UPPER(@EmpShiftType);

        --------------------------------------------------
        -- NORMAL SHIFT (F, A, O)
        --------------------------------------------------
        IF (@EmpShiftType IN ('F','A','O'))
        BEGIN
            WHILE (@TempDate < @EdDate)
            BEGIN
                IF (DATEPART(WEEKDAY, @TempDate) = @WOD 
                    OR DATEPART(WEEKDAY, @TempDate) = @WOD2)
                    SET @TShift = 'WW';
                ELSE
                    SET @TShift = @SPId;

                INSERT INTO TblMuster
                (
                    AttId, LeaveTypeId, HrsWorked, OutPasses, ErrCodeId,
                    SingleOT, DoubleOT, LatePunch, EarlyOut, ExtraHours,
                    CompOff, EmployeeID, TDate, ShiftId, availed, applied, CreatedAt, IsDeleted
                )
                VALUES
                (
                    '00','00',0,0,-1,0,0,0,0,0,0,
                    @EmpCode,@TempDate,LTRIM(RTRIM(@TShift)),NULL,NULL, SYSDATETIME(), 0
                );

                SET @TempDate = DATEADD(DAY, 1, @TempDate);
            END

            SET @return = 1;
        END
        COMMIT TRANSACTION;
    END TRY

    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @return = 0;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        PRINT 'Error in p_InsertRecords: ' + @ErrMsg;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[p_IsPaired]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajagopal
-- Create date: 04-Apr-2026
-- Description:	Procedure to create Muster for employees
-- =============================================
CREATE   PROCEDURE [dbo].[p_IsPaired]
(
    @empcode   VARCHAR(11),
    @transdate DATETIME,
    @ispaired  INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @punch       CHAR(1) = 'I',
        @temp_punch  CHAR(1);

    -- ============================
    -- VALIDATION
    -- ============================
    IF @empcode IS NULL OR LTRIM(RTRIM(@empcode)) = ''
       OR @transdate IS NULL
    BEGIN
        SET @ispaired = -1;
        RETURN;
    END

    -- ============================
    -- CURSOR (OPTIMIZED)
    -- ============================
    DECLARE ispaired_cur CURSOR LOCAL FAST_FORWARD FOR
    SELECT IOFlag
    FROM TblDailyTransactions
    WHERE Empid = LTRIM(RTRIM(@empcode))
      AND AttendanceDate = @transdate
      AND Deleted = 'F'
    ORDER BY Transtime;

    OPEN ispaired_cur;

    FETCH NEXT FROM ispaired_cur INTO @temp_punch;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        IF UPPER(@temp_punch) <> @punch
        BEGIN
            SET @ispaired = 1;

            CLOSE ispaired_cur;
            DEALLOCATE ispaired_cur;
            RETURN;
        END

        -- Toggle punch
        SET @punch = CASE 
                        WHEN @punch = 'I' THEN 'O'
                        ELSE 'I'
                     END;

        FETCH NEXT FROM ispaired_cur INTO @temp_punch;
    END

    CLOSE ispaired_cur;
    DEALLOCATE ispaired_cur;

    -- ============================
    -- FINAL RESULT
    -- ============================
    IF @punch = 'O'
        SET @ispaired = 1;
    ELSE
        SET @ispaired = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[p_Late_In]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajagopal
-- Create date: 04-Apr-2026
-- Description:	Procedure to create Muster for employees
-- =============================================
CREATE   PROCEDURE [dbo].[p_Late_In]
(
    @par_EmpId    VARCHAR(11),
    @par_TDate    DATETIME,
    @par_ShiftId  VARCHAR(2),
    @par_late_in  INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @ShiftStart   DATETIME,
        @StartTime    TIME,
        @Time1        DATETIME,
        @SftGraceIn   INT = 0,
        @LateBy       INT = 0;

    BEGIN TRY
        SET @par_late_in = 0;

        -- ============================
        -- SHIFT RESOLUTION
        -- ============================
        IF UPPER(@par_ShiftId) <> 'WW'
        BEGIN
            IF LEN(LTRIM(RTRIM(@par_ShiftId))) = 1
            BEGIN
                EXEC dbo.p_DetermineShift 
                    @par_EmpId, @par_TDate, @par_ShiftId, @par_ShiftId OUTPUT;
            END

            -- ============================
            -- GET SHIFT START TIME
            -- ============================
            SELECT @StartTime = StartTime
            FROM tblShiftDetails WITH (NOLOCK)
            WHERE ShiftId = @par_ShiftId
              AND DayId = DATEPART(WEEKDAY, @par_TDate);

            IF @StartTime IS NULL RETURN;

            -- Combine date + time properly
            SET @ShiftStart = DATEADD(DAY, DATEDIFF(DAY, 0, @par_TDate), CAST(@StartTime AS DATETIME));

            -- Midnight fix
            IF DATEPART(HOUR, @ShiftStart) = 0 AND DATEPART(MINUTE, @ShiftStart) = 0
                SET @ShiftStart = DATEADD(DAY, 1, @ShiftStart);

            -- ============================
            -- GET GRACE TIME
            -- ============================
            SELECT @SftGraceIn = 0;

            -- ============================
            -- GET FIRST IN TIME (OPTIMIZED)
            -- ============================
            SELECT @Time1 = MIN(TransTime)
            FROM tblDailyTransactions WITH (NOLOCK)
            WHERE EmpId = @par_EmpId
              AND AttendanceDate = CAST(@par_TDate AS DATE)
              AND Deleted = 'F';

            IF @Time1 IS NULL RETURN;

            -- ============================
            -- CALCULATE LATE
            -- ============================
            SET @par_late_in = DATEDIFF(MINUTE, @ShiftStart, @Time1);

            IF @par_late_in < 0 OR @par_late_in < @SftGraceIn
                SET @par_late_in = 0;

            -- ============================
            -- BUS LATE ADJUSTMENT
            -- ============================
            --SELECT TOP 1 @LateBy = LateBy
            --FROM tblBusLateEntries B
            --INNER JOIN tblEmpMast E ON B.BusRtId = E.BusRtId
            --WHERE E.EmpId = @par_EmpId
            --  AND B.ShiftId = @par_ShiftId
            --  AND B.TDate = CAST(@par_TDate AS DATE);

            IF @LateBy IS NOT NULL
                SET @par_late_in = @par_late_in - @LateBy;

            IF @par_late_in < @SftGraceIn OR @par_late_in < 0
                SET @par_late_in = 0;
        END
    END TRY
    BEGIN CATCH
        SET @par_late_in = 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[p_writetoDataBase]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajagopal
-- Create date: 04-Apr-2026
-- Description:	Procedure to create Muster for employees
-- =============================================
CREATE   PROCEDURE [dbo].[p_writetoDataBase]
(
    @strline VARCHAR(40),
    @Sversion VARCHAR(10),
    @returnWtDb SMALLINT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @strdate VARCHAR(8),
        @strcode VARCHAR(11),
        @strtime VARCHAR(4),
        @strio CHAR(1),
        @strbr VARCHAR(2),
        @strSftFlg VARCHAR(2),
        @StrReason VARCHAR(2),
        @dtTransTime DATETIME,
        @iret SMALLINT,
        @iRet1 CHAR(1),
        @strRemarks VARCHAR(50) = '',
        @StrTreatment CHAR(1) = 'P';

    SET @returnWtDb = 0;

    -- =============================
    -- Parse Input Based on Version (UNCHANGED)
    -- =============================
    IF @sversion = '7'
    BEGIN
        SELECT 
            @strdate = SUBSTRING(@strline,1,8),
            @strCode = '0000' + SUBSTRING(@strline,9,7),
            @strTime = SUBSTRING(@strline,16,4),
            @strIO   = SUBSTRING(@strline,20,1),
            @strBr   = SUBSTRING(@strline,21,2);
    END
    ELSE IF @sversion IN ('8','10')
    BEGIN
        SELECT 
            @strSftFlg = SUBSTRING(@strline,3,2),
            @strCode = '0' + SUBSTRING(@strline,7,10),
            @strdate = SUBSTRING(@strline,18,8),
            @strTime = SUBSTRING(@strline,26,4),
            @strIO   = SUBSTRING(@strline,30,1),
            @strBr   = SUBSTRING(@strline,35,2);
    END
    ELSE IF @sversion = '10.22'
    BEGIN
        SELECT 
            @StrReason = SUBSTRING(@strline,1,2),
            @strSftFlg = SUBSTRING(@strline,3,2),
            @strCode = '0' + SUBSTRING(@strline,8,10),
            @strdate = SUBSTRING(@strline,19,8),
            @strTime = SUBSTRING(@strline,27,4),
            @strIO   = SUBSTRING(@strline,31,1),
            @strBr   = SUBSTRING(@strline,37,2);
    END

    -- =============================
    -- 1. Shift Flag Validation
    -- =============================
    IF @sversion IN ('8','10','10.22')
    BEGIN
        IF UPPER(@strSftFlg) = 'FF'
        BEGIN
            SET @returnWtDb = 1;
            RETURN;
        END
    END

    -- =============================
    -- 2. Code Validation
    -- =============================
    DECLARE @cnt INT = 0;

    SELECT @cnt = COUNT(1) FROM TblEmpMast WHERE EmployeeId = @strcode;

    IF @cnt > 0
        SET @iret = 1;
    ELSE
    BEGIN
        SELECT @cnt = COUNT(1) FROM TblTempCards WHERE TempCardNo = @strcode;

        IF @cnt > 0
            SET @iret = 2;
        ELSE
            SET @iret = 0;
    END

    IF @iret = 0
    BEGIN
        SET @returnWtDb = 2;
        RETURN;
    END

    -- =============================
    -- 3. Date Validation (INLINE p_IsValidDate)
    -- =============================
    DECLARE 
        @TDate VARCHAR(20),
        @temp VARCHAR(20),
        @i INT,
        @TDay INT,
        @TMonth INT,
        @Tempdate DATETIME;

    SET @TDate = 
        SUBSTRING(@strdate,7,2) + '/' +
        SUBSTRING(@strdate,5,2) + '/' +
        SUBSTRING(@strdate,1,4);

    SET @TDate = LTRIM(@TDate);

    IF @TDate = ''
    BEGIN
        SET @returnWtDb = 3;
        RETURN;
    END

    SET @i = 1;
    SET @temp = '';

    -- Extract Day
    WHILE SUBSTRING(@TDate, @i, 1) <> '/' AND @i <= LEN(@TDate)
    BEGIN
        SET @temp = @temp + SUBSTRING(@TDate, @i, 1);
        SET @i = @i + 1;
    END

    IF LEN(@temp) > 2
    BEGIN
        SET @returnWtDb = 3;
        RETURN;
    END

    SET @TDay = TRY_CAST(@temp AS INT);

    IF @TDay IS NULL OR @TDay < 1 OR @TDay > 31
    BEGIN
        SET @returnWtDb = 3;
        RETURN;
    END

    SET @i = @i + 1;
    SET @temp = '';

    -- Extract Month
    WHILE SUBSTRING(@TDate, @i, 1) <> '/' AND @i <= LEN(@TDate)
    BEGIN
        SET @temp = @temp + SUBSTRING(@TDate, @i, 1);
        SET @i = @i + 1;
    END

    IF LEN(@temp) > 2
    BEGIN
        SET @returnWtDb = 3;
        RETURN;
    END

    SET @TMonth = TRY_CAST(@temp AS INT);

    IF @TMonth IS NULL OR @TMonth < 1 OR @TMonth > 12
    BEGIN
        SET @returnWtDb = 3;
        RETURN;
    END

    SET @i = @i + 1;
    SET @temp = '';

    -- Extract Year
    WHILE @i <= LEN(@TDate)
    BEGIN
        IF SUBSTRING(@TDate, @i, 1) = '/'
        BEGIN
            SET @returnWtDb = 3;
            RETURN;
        END
        SET @temp = @temp + SUBSTRING(@TDate, @i, 1);
        SET @i = @i + 1;
    END

    IF LEN(@temp) > 4 OR TRY_CAST(@temp AS INT) < 100
    BEGIN
        SET @returnWtDb = 3;
        RETURN;
    END

    -- Validate actual date (month-end logic)
    SET @Tempdate = CONVERT(DATETIME, '1/' + CAST(@TMonth AS VARCHAR) + '/' + @temp, 103);
    SET @Tempdate = DATEADD(MONTH, 1, @Tempdate) - 1;

    IF @TDay > DAY(@Tempdate)
    BEGIN
        SET @returnWtDb = 3;
        RETURN;
    END

    -- =============================
    -- 4. Time Validation
    -- =============================
    DECLARE @Hr INT, @Min INT;

    SET @Hr  = TRY_CAST(SUBSTRING(@strtime,1,2) AS INT);
    SET @Min = TRY_CAST(SUBSTRING(@strtime,3,2) AS INT);

    IF @Hr IS NULL OR @Min IS NULL OR @Hr NOT BETWEEN 0 AND 23 OR @Min NOT BETWEEN 0 AND 59
    BEGIN
        SET @returnWtDb = 4;
        RETURN;
    END

    -- =============================
    -- 5. IO Validation
    -- =============================
    IF @strIO IN ('0','I') SET @strIO = 'I';
    IF @strIO IN ('O','5') SET @strIO = 'O';

    IF UPPER(@strIO) IN ('I','O')
        SET @iRet1 = UPPER(@strIO);
    ELSE
        SET @iRet1 = '0';

    IF @iRet1 = '0'
    BEGIN
        SET @returnWtDb = 5;
        RETURN;
    END

    SET @strIO = @iRet1;

    -- =============================
    -- Build DATETIME
    -- =============================
    SET @dtTransTime = 
        CONVERT(DATETIME, 
            STUFF(STUFF(@strdate,5,0,'-'),8,0,'-') + ' ' +
            STUFF(@strtime,3,0,':')
        );

    -- =============================
    -- Duplicate Check
    -- =============================
    IF EXISTS
    (
        SELECT 1 
        FROM TblDailyTransactions WITH (NOLOCK)
        WHERE EmpId = @strcode
          AND TransTime = @dtTransTime
    )
    BEGIN
        RETURN;
    END

    -- =============================
    -- Insert
    -- =============================
    INSERT INTO TblDailyTransactions
    (
        EmpId, IOFlag, ActualIOFlag, OPFlag,
        PunchedTime, TransTime, AttendanceDate,
        BOutPassHrs, Remarks, BadgeReaderNo,
        Deleted, ReasonCode, CreatedAt, IsDeleted
    )
    VALUES
    (
        @strcode, @strIO, @strIO, @StrTreatment,
        @dtTransTime, @dtTransTime, NULL,
        0, @strRemarks, @strBr,
        'F', @StrReason, SYSDATETIME(), 0
    );

END
GO
/****** Object:  StoredProcedure [dbo].[WriteErrToFile]    Script Date: 19/04/2026 12:36:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajagopal
-- Create date: 04-Apr-2026
-- Description:	Procedure to create Muster for employees
-- =============================================
CREATE   PROCEDURE [dbo].[WriteErrToFile]
    @Filenum SMALLINT,
    @Empcode VARCHAR(11),
    @Tdate DATETIME,
    @message VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        INSERT INTO ErrorLog (FileNum, EmpCode, LogDate, Message)
        VALUES (@Filenum, @Empcode, @Tdate, @message);
    END TRY
    BEGIN CATCH
        -- fallback (at least print if insert fails)
        PRINT 'Logging Failed: ' + ERROR_MESSAGE();
    END CATCH
END
GO
