USE [HRMS_DB]
GO
/****** Object:  StoredProcedure [dbo].[ComputeAttendanceFor]    Script Date: 26/05/2026 15:20:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[ComputeAttendanceFor]
		@EmpCode Varchar(11),
		@TDf5 varchar(11),
		@TDt5 varchar(11),
		@location char(6),
		@ComputeAttendanceFor smallint Output
As
SET NOCOUNT OFF;

declare @Dtfrom datetime, @Dtto datetime
set @Dtfrom=@TDf5
set @Dtto=@TDt5

delete from tblErrorDisplay 
while @dtfrom<=@dtto
begin 
declare @fromdate varchar(20)
Declare @TDT datetime
Declare @IOFlag Char(1)
Declare @TransTime DateTime
Declare @BOutPassHrs Int
Declare @OPFlag Char(1)
set @tdt=convert(datetime,@dtfrom,101)
set @fromdate=@tdt
--TblMuster
Declare @ShiftId Char(2)
Declare @AttId Char(2)
Declare @SingleOT Int
Declare @DoubleOT Int
Declare @CompOff Int
--TblCompany
Declare @GraceInTime Int
Declare @GraceOutTime Int
Declare @GraceLunchIn Int
Declare @GraceLunchOut Int
Declare @GraceOverTime Int
--TblCadres
Declare @CoffFlag Char(1),@CadreId varchar(6)
--TblShiftDetails
Declare @ShiftStartTime DateTime
Declare @ShiftEndTime DateTime
Declare @LunchStartTime DateTime
Declare @LunchEndTime DateTime
Declare @cntCompany Int
Declare @cntShift Int
Declare @cntMRec Int
Declare @TransDt DateTime
Declare @ShiftCode Char(2)
Declare @ShiftStart DateTime
Declare @ShiftEnd DateTime
Declare @LunchStart DateTime
Declare @LunchEnd DateTime
Declare @SftGraceIn float
Declare @SftGraceOut float
Declare @LunGraceIn float
Declare @LunGraceOut float
Declare @IsPairedRet Int
Declare @EmpStatus Char(1)
Declare @Time1 DateTime
Declare @Time2 DateTime
Declare @sOPFlag Char(1)
Declare @iBOutPassHrs Int
Declare @iActualOPHrs Int
Declare @LunGraceStart DateTime
Declare @LunGraceEnd DateTime
Declare @SftGraceStart DateTime
Declare @SftGraceEnd DateTime
Declare @AttnId Char(2)
Declare @NormalHrs Int
Declare @OutPass Int
Declare @LateIn Int
Declare @EarlyOutHrs Int
Declare @ExtraHrs Int
Declare @Dot Int
Declare @TempTime Int
Declare @MaxSingleOT Int
Declare @MaxDoubleOT Int
Declare @MaxCompOff Int
Declare @GraceOT Int
Declare @LateHrs Int
Declare @BusLateBy Int
Declare @CompOff1 Int
Declare @cntDp Int
Declare @I Int,@cntHoliDay1 int
Declare @j Int,@StrHoliday char(2),@LocId varchar(6)
Declare @HolidayDate DateTime, @LastOut datetime
Declare @SCode Char(2),@cntMinTrans int,@CFinLOut char(1),@Fin DateTime

-- ============================================================
-- LEAVE LOGIC: Declarations
-- ============================================================
DECLARE @LeaveTypeId     VARCHAR(10)
DECLARE @LeaveHalf       VARCHAR(2)   -- 'F' = FullDay, 'H1' = FirstHalf, 'H2' = SecondHalf
DECLARE @FirstHalfLeave  CHAR(1)      -- First char of leave type for AM half
DECLARE @SecondHalfLeave CHAR(1)      -- First char of leave type for PM half
DECLARE @LeaveAttId      CHAR(2)
DECLARE @cntLeave        INT
-- ============================================================

/*	-- Check whether both the parameters are present*/
If RTrim(LTrim(@EmpCode)) Is Null Or RTrim(LTrim(@TDt5)) Is Null Or RTrim(LTrim(@TDf5)) Is Null
Begin
	Set @ComputeAttendanceFor = -1
	Print 'EmpCode or tdt is null'
	close c_DailyTransactions
	Deallocate c_DailyTransactions
	set @dtfrom=dateadd(day,1,@dtfrom)
	return 
End
set @TDt=@dtfrom
set @LateHrs=0
set @IsPairedRet=0
set @CFinLOut = 'T';

if @CFinLout ='F'
	Exec p_IsPaired @EmpCode, @TDt,@ispaired = @IsPairedRet Output
else
begin
	declare @temp_punch int
	declare ispaired_cur Cursor scroll for select count(*) from TblDailyTransactions where Empid = RTrim(LTrim(@EmpCode)) and AttendanceDate =cast(@fromdate as char(11)) and Deleted = 'F'
	open ispaired_cur
	fetch first from ispaired_cur into @temp_punch
	if @temp_punch=1 
	begin
	  	set @IsPairedRet = 1	
		Declare c_MinTrans Scroll Cursor For Select Transtime as Fin,IOFlag as IOFlag from TblDailyTransactions where AttendanceDate = convert(datetime,@tdt,101) and EmpId = RTrim(LTrim(@EmpCode)) and Deleted = 'F' 
		Open c_MinTrans
		Fetch First From c_MinTrans InTo @Fin,@IOFlag
		Select @cntMinTrans = @@Cursor_Rows
		Close c_MinTrans
		Deallocate c_MinTrans
		If @cntMinTrans > 0
		Begin
			Update tblMuster set FirstIn = Null,LastOut=Null Where TDate = convert(datetime,@tdt,101) and EmployeeId = RTrim(LTrim(@EmpCode))
			if @ioflag = 'I'
  			begin
				begin transaction
   				Update tblMuster set FirstIn = Convert(varchar,@Fin,108),attid='AA' Where TDate = convert(datetime,@tdt,101) and EmployeeId = RTrim(LTrim(@EmpCode))
				commit transaction 
  			end
			if @ioflag = 'O'
  			begin
   				begin transaction
   				Update tblMuster set LastOut = Convert(varchar,@Fin,108), attid='AA' Where TDate = convert(datetime,@tdt,101) and EmployeeId = RTrim(LTrim(@EmpCode))
   				commit transaction
  			end
		End
	end
	else if @temp_punch=0 
         begin
            Begin Transaction
	        Update TBLMUSTER Set AttId='AA' Where EmployeeId=LTrim(Rtrim(@EmpCode)) and Tdate=@fromdate;
	        Commit Transaction  
         end
        else if @temp_punch>=2
        begin
		Declare c_MinTrans Scroll Cursor For Select Min(Transtime),Max(Transtime) as Fin from TblDailyTransactions where AttendanceDate = convert(datetime,@tdt,101) and EmpId = RTrim(LTrim(@EmpCode)) and Deleted = 'F' 
		Open c_MinTrans
		Fetch First From c_MinTrans InTo @Fin,@LastOut
		Select @cntMinTrans = @@Cursor_Rows
		Close c_MinTrans
		Deallocate c_MinTrans
		If @cntMinTrans > 0
		Begin
		Begin Tran
		Update tblMuster set FirstIn = Convert(varchar,@Fin,108),LastOut= Convert(varchar,@LastOut,108) Where TDate = convert(datetime,@tdt,101) and EmployeeId = RTrim(LTrim(@EmpCode))
		Commit Tran
		End
	end
	deallocate ispaired_cur       
end

Declare c_Muster Scroll Cursor For Select ShiftId,AttId,SingleOT,DoubleOT,CompOff from TblMuster where EmployeeId = RTrim(LTrim(@EmpCode)) and convert(datetime,Tdate,101) = @fromdate 
Open c_Muster
Fetch First From c_Muster InTo @ShiftId,@AttId,@SingleOT,@DoubleOT,@CompOff
Select @cntMRec = @@Cursor_Rows
Close c_Muster
Deallocate c_Muster

If @SingleOT Is Null
	Set @SingleOT = 0
If @DoubleOT Is Null
	Set @DoubleOT = 0
If @CompOff Is Null
	Set @CompOff = 0

If @cntMRec = 0
Begin
	Set @ComputeAttendanceFor = 1
	Print 'Muster record not found'
	set @dtfrom=dateadd(day,1,@dtfrom)
	Return 
End

		set @LocId=''
		set @cntHoliDay1=0
		print '**********StrHoliday'
		set @StrHoliday=''
		if @cntHoliday1>0
		begin
			set @StrHoliday='HH'
			print @StrHoliday
		End

-- ============================================================
-- LEAVE LOGIC: Fetch leave record for this employee and date
-- Adjust table/column names below to match your actual schema
-- Expected columns: EmployeeId, LeaveDate, LeaveTypeId, LeaveHalf ('F'/'H1'/'H2'), Deleted
-- ============================================================
SET @LeaveAttId      = '00'
SET @LeaveTypeId     = NULL
SET @LeaveHalf       = NULL
SET @FirstHalfLeave  = NULL
SET @SecondHalfLeave = NULL
SET @cntLeave        = 0

DECLARE c_Leave SCROLL CURSOR FOR
    SELECT  LeaveTypeMasterId,
            Session           -- '1' = Full Day, '2' = First Half, '3' = Second Half
    FROM    TblLeaveApplications            -- << Replace with your actual leave table name
    WHERE   EmployeeId  = RTRIM(LTRIM(@EmpCode))
      AND   FromDate   = CONVERT(DATETIME, @TDt, 101)
      AND   IsDeleted     = 0  -- << Remove/adjust if no soft-delete column

OPEN c_Leave
FETCH FIRST FROM c_Leave INTO @LeaveTypeId, @LeaveHalf
SELECT @cntLeave = @@CURSOR_ROWS
CLOSE c_Leave
DEALLOCATE c_Leave

-- Build the LeaveAttId from the fetched leave record
IF @cntLeave > 0 AND @LeaveTypeId IS NOT NULL
BEGIN
    -- Take the first character of the leave type code (e.g. 'C' for CL, 'E' for EL, 'S' for SL)
    SET @FirstHalfLeave  = LEFT(LTRIM(RTRIM(@LeaveTypeId)), 1)
    SET @SecondHalfLeave = LEFT(LTRIM(RTRIM(@LeaveTypeId)), 1)

    IF UPPER(@LeaveHalf) = '1'           -- Full Day  --> e.g. 'CC'
        SET @LeaveAttId = @FirstHalfLeave + @SecondHalfLeave

    ELSE IF UPPER(@LeaveHalf) = '2'     -- First Half --> e.g. 'C0'
        SET @LeaveAttId = @FirstHalfLeave + '0'

    ELSE IF UPPER(@LeaveHalf) = '3'     -- Second Half --> e.g. '0C'
        SET @LeaveAttId = '0' + @SecondHalfLeave

    PRINT 'Leave detected: LeaveTypeId=' + ISNULL(@LeaveTypeId,'') 
        + ' LeaveHalf=' + ISNULL(@LeaveHalf,'') 
        + ' LeaveAttId=' + ISNULL(@LeaveAttId,'')
END
-- ============================================================

Set @ShiftCode = LTrim(RTrim(@ShiftId))
If @IsPairedRet = 1
Begin
	Exec p_DetermineShift @EmpCode, @TDT, @ShiftCode, @SCode Output
	Exec p_Late_In @EmpCode, @TDt, @ShiftCode,@par_late_in = @LateHrs Output
	Begin Transaction
	Update tblMuster set shiftid=@scode,ErrCodeId = 1,AttId = 'AA',LatePunch = @LateHrs,
	HrsWorked = 0,OutPasses = 0,Extrahours = 0,EarlyOut = 0,SingleOT = 0,DoubleOT = 0 Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
	Insert InTo tblErrorDisplay values (RTrim(LTrim(@EmpCode)),@TDt,'C','Punches Are Not Paired')
	Set @ComputeAttendanceFor = 1
	Print 'is not paired'
	Commit Transaction
	set @dtfrom=dateadd(day,1,@dtfrom)
	Set @ComputeAttendanceFor = 1
	continue
End

print @Tdt

If @ShiftCode Is Null
Begin
	Print 'Shift is null Err 2'
	Begin Tran
	Update tblMuster set ErrCodeId = 2,
			HrsWorked = 0,OutPasses = 0,Extrahours = 0,EarlyOut = 0 Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
	Insert InTo tblErrorDisplay values (RTrim(LTrim(@EmpCode)),@TDt,'C','ShiftId Not Present in Shift Master Or Null in the Muster')
	Commit Tran
	Print 'ShiftId not present'
	Set @ComputeAttendanceFor = 1
	set @dtfrom=dateadd(day,1,@dtfrom)
	continue
End

Print 'SCode' + @ShiftCode

If Upper(@ShiftCode) <> 'WW'
Begin
	If Len(LTrim(RTrim(@ShiftCode))) = 1
	Begin
		Print 'Determine Shift'
		Exec p_DetermineShift @EmpCode, @TDT, @ShiftCode, @SCode Output
		Print 'Shift Code auto' + @SCode
		Set @ShiftCode = @SCode
		Update tblmuster set ShiftId = @ShiftCode where EmployeeId = @Empcode and convert(Datetime,Tdate,101) = @fromdate 
	End
	Declare c_Shift Cursor Scroll For Select StartTime,EndTime,LunchStart,LunchEnd from TblShiftDetails where ShiftId = LTrim(RTrim(@ShiftCode)) and DayId = DatePart(dw,@TDt)
	Open c_Shift
	Fetch First From c_Shift InTo @ShiftStartTime,@ShiftEndTime,@LunchStartTime,@LunchEndTime
	Select @cntShift = @@Cursor_Rows
	Close c_Shift
	Deallocate c_Shift

print 'Step1'
print @cntShift
	If @cntShift = 0
	Begin
		  Print 'ShiftID Not Found Err 2'
		  Begin Tran
		  if @StrHoliday='HH'  			
			Update tblMuster set Attid='HH' ,ErrCodeId = 2 ,HrsWorked = 0,OutPasses = 0,Extrahours = 0,EarlyOut = 0 Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate =cast(@fromdate as char(11))
          else
			Update tblMuster set Attid='AA' ,ErrCodeId = 2 ,HrsWorked = 0,OutPasses = 0,Extrahours = 0,EarlyOut = 0 Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate =cast(@fromdate as char(11))
		  Insert InTo tblErrorDisplay values (RTrim(LTrim(@EmpCode)),convert(datetime,@TDt,101),'C','ShiftId Not Present in Shift Master Or Null in the Muster')
		  Commit Tran
		  Set @ComputeAttendanceFor = 1
		  Print 'ShiftId Not Found'
		  set @dtfrom=dateadd(day,1,@dtfrom)
	     continue
	End
	If @cntShift > 0
	Begin
		If (@ShiftStartTime is Null) Or (@ShiftEndTime is Null)
		Begin
			Print 'Timings Not Found Err 3'
			Begin Tran
			Update tblMuster set ErrCodeId = 3 ,
				HrsWorked = 0,OutPasses = 0,Extrahours = 0,EarlyOut = 0 Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
			Insert Into tblErrorDisplay values (RTrim(LTrim(@EmpCode)),@TDt,'C','Timings Not Present in the Shift Master')
			Commit Tran
			Print 'Timings'
			Set @ComputeAttendanceFor = 1
			continue
		End
		Set @ShiftStart = (Convert(Varchar(10),@TDt,101) +' '+ Convert(Varchar(5),@ShiftStartTime,108))
		Set @ShiftEnd = (Convert(Varchar(10),@TDt,101) +' '+ Convert(Varchar(5),@ShiftEndTime,108))
		If @ShiftEnd < @ShiftStart
			Set @ShiftEnd = @ShiftEnd + 1
		If (@LunchStartTime Is Null) Or (@LunchEndTime Is Null)
		Begin
			Set @LunchStart = @ShiftStart + (datediff(mi,@ShiftStart,@ShiftEnd) / 2) /1440.0
			Set @LunchEnd = @LunchStart
		End
		Else
		Begin
			Set @LunchStart =(Convert(Varchar(10),@TDt,101)+' '+Convert(Varchar(5),@LunchStartTime,108))
			Set @LunchEnd = (Convert(Varchar(10),@TDt,101)+' '+Convert(Varchar(5),@LunchEndTime,108))
			If @LunchStart < @ShiftStart
			  Begin
				Set @LunchStart = @LunchStart + 1
				Set @LunchEnd = @LunchEnd + 1
			   End
			Else
			Begin
				If @LunchEnd < @LunchStart
	   			   Set @LunchEnd = @LunchEnd + 1
			End
		End

		  SET @GraceInTime = 0;
		  SET @GraceOutTime = 0;
		  SET @GraceLunchIn = 0;
		  SET @GraceLunchOut = 0;
		  SET @GraceOverTime = 0;

		Set @SftGraceStart = @ShiftStart + ((@SftGraceIn) / 60 / 24)
		Set @SftGraceEnd = @ShiftEnd - ((@SftGraceOut) / 60 / 24)
		Set @LunGraceStart = @LunchStart - ((@LunGraceOut) / 60 / 24)
		Set @LunGraceEnd = @LunchEnd + ((@LunGraceIn) / 60 / 24)
	End
	Else
	Begin
		If Len(RTrim(LTrim(@ShiftCode))) <> 1
		Begin
			Begin Tran
			Update tblMuster set ErrCodeId = 2,HrsWorked = 0,OutPasses = 0,Extrahours = 0,EarlyOut = 0 Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
			Insert InTo tblErrorDisplay values (RTrim(LTrim(@EmpCode)),@TDt,'C','Invalid shift or Shift Timings deleted')
			Commit Tran
			Set @ComputeAttendanceFor = 1
			close c_DailyTransactions
			Deallocate c_DailyTransactions
			Print 'Err1'
			set @dtfrom=dateadd(day,1,@dtfrom)
			continue
		End
		Else
		Begin
			Begin Tran
   			Update tblMuster set ErrCodeId = 0 Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
			Commit Tran
			close c_DailyTransactions
			Deallocate c_DailyTransactions
		End
	End
End

Declare c_DailyTransactions Scroll Cursor For Select IOFlag,TransTime,BOutPassHrs,OPFlag from TblDailyTransactions where AttendanceDate = convert(datetime,@tdt,101) and EmpId = RTrim(LTrim(@EmpCode)) and Deleted = 'F' Order by TransTime
Open c_DailyTransactions
Fetch First From c_DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
Select @cntDp = @@Cursor_Rows

print 'OK'
if @cntdp=0 and @StrHoliday='HH' and Upper(@ShiftCode) <> 'WW'
set @AttId='HH'
Set @I = 0

If @cntDp > 0
Begin
	Set @NormalHrs = 0
	Set @ExtraHrs = 0
	Set @OutPass = 0
	Set @I = 1
	If Upper(@ShiftCode) <> 'WW'
	Begin
		While @I <= @cntDp
		Begin
			Set @EmpStatus = Upper(@IOFlag)
			Set @Time1 = @TransTime
			Set @iBOutPassHrs = @BOutPassHrs
			Set @sOPFlag = Upper(@OPFlag)
			if @CFinLout ='T'
			Begin
				Set @I = @I + 1
				Fetch Last From c_DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
				Set @Time2 = @TransTime
				Set @I = @CntDp + 1
			End
			Else			
			begin
						Set @I = @I + 1
						Fetch Next From c_DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
			end			
			if @@fetch_status<>0
				break
			Set @Time2 = @TransTime
			set @EmpStatus = 'I'
			If @EmpStatus = 'I'
			Begin
				If convert(datetime,@Time2,108) <= convert(datetime,@ShiftStart,108) 
					Set @ExtraHrs = @ExtraHrs + DateDiff(mi,@Time1,@Time2)
				Else
				If @Time1 >= @ShiftEnd					    	
					Set @ExtraHrs = @ExtraHrs + (DateDiff(mi,@Time1,@Time2))
				else
	 			If @Time1 <= @ShiftStart and @Time2 >= @ShiftEnd
		          		Begin
					Set @NormalHrs = @NormalHrs + (DateDiff(mi,@ShiftStart,@ShiftEnd) - DateDiff(mi,@LunchStart,@LunchEnd))	
					Set @ExtraHrs = @ExtraHrs + (DateDiff(mi,@Time1,@ShiftStart) + DateDiff(mi,@ShiftEnd,@Time2))
					End
				Else
				If @Time1 >= @ShiftStart And @Time2 <= @ShiftEnd
				  Begin
								If @Time2 >= @LunGraceStart And @Time2 <= @LunchStart
									Set @Time2 = @LunchStart
								If @Time1 >= @LunchEnd And @Time1 <= @LunGraceEnd
									Set @Time1 = @LunchEnd

								If convert(datetime,@Time2,108) <= convert(datetime,@LunchStart,108)
									Set @NormalHrs = @NormalHrs + (DateDiff(mi,@Time1,@Time2))
								Else
     								If convert(datetime,@Time1,108) >= convert(datetime,@LunchEnd,108)
								   Set @NormalHrs = @NormalHrs + (DateDiff(mi,@Time1,@Time2))
								Else
								if convert(datetime,@Time1,108) <= convert(datetime,@LunchStart,108) And convert(datetime,@Time2,108) >= convert(datetime,@LunchEnd,108)
    							           Set @NormalHrs = @NormalHrs + (DateDiff(mi,@Time1,@Time2) - DateDiff(mi,@LunchStart,@LunchEnd))
								Else
								If @Time1 <= @LunchStart And @Time2 < @LunchEnd
								   set @NormalHrs = @NormalHrs + DateDiff(mi,@Time1,@LunchStart)
								Else
								If @Time1 >= @LunchStart And @Time2 > @LunchEnd
								   set @NormalHrs = @NormalHrs + DateDiff(mi,@LunchEnd,@Time2)
				End
				Else
				If @Time1 < @ShiftStart And @Time2 <= @ShiftEnd
				    Begin
							If @Time2 >= @LunGraceStart And @Time2 <= @LunchStart
								Set @Time2 = @LunchStart
								Set @ExtraHrs = @ExtraHrs + DateDiff(mi,@Time1,@ShiftStart)
							If @Time2 < @LunchStart
   								Set @NormalHrs = @NormalHrs + DateDiff(mi,@ShiftStart,@Time2)
							Else
							If @Time2 < @LunchEnd
								Set @NormalHrs = @NormalHrs + DateDiff(mi,@ShiftStart,@LunchStart)
							Else
								Set @NormalHrs = @NormalHrs + (DateDiff(mi,@ShiftStart,@Time2) - DateDiff(mi,@LunchStart,@LunchEnd))
						End
					Else
					If @Time1 >= @ShiftStart And @Time2 > @ShiftEnd
					Begin
						If @Time1 >= @LunchEnd And @Time1 <= @LunGraceEnd
							Set @Time1 = @LunchEnd

							Set @ExtraHrs = @ExtraHrs + DateDiff(mi,@ShiftEnd,@Time2)
							If @Time1 <= @LunchStart
								Set @NormalHrs = @NormalHrs + (DateDiff(mi,@Time1,@ShiftEnd) - DateDiff(mi,@LunchStart,@LunchEnd))
							Else
							If @Time1 <= @LunchEnd
								Set @NormalHrs = @NormalHrs + DateDiff(mi,@LunchEnd,@ShiftEnd)
							Else
								Set @NormalHrs = @NormalHrs + DateDiff(mi,@Time1,@ShiftEnd)
					End
			End
			Else
				If @Time2 <= @ShiftStart Or @Time1 >= @ShiftEnd
				Begin
					If @sOPFlag = 'O'
						Begin
						Set @iActualOPHrs = DateDiff(mi,@Time1,@Time2)
						if @iBOutPassHrs=0 
						    begin
							print 'update 1'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where 
								EmpId = @Empcode and 				
								TransTime =  @TransTime and IoFlag = @IOFlag							
							end
						If @iActualOPHrs > @iBOutPassHrs
		  				  Set @ExtraHrs = @ExtraHrs + @iBOutPassHrs
						Else
  						  Set @ExtraHrs = @ExtraHrs + @iActualOPHrs
						End
					Else
						Set @OutPass = @OutPass
				End
				Else
					If @Time1 <= @ShiftStart And @Time2 >= @ShiftEnd
					 begin				 
 					  If @sOPFlag = 'O'
					      begin
						Set @iActualOPHrs = (DateDiff(mi,@Time1,@Time2) - DateDiff(mi,@LunchStart,@LunchEnd))
						if @iBOutPassHrs=0 
						    begin
							print 'update 2'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where EmpId = @Empcode and TransTime =  @TransTime and IoFlag = @IOFlag	
							end

						If @iActualOPHrs > @iBOutPassHrs

						  begin
							 Set @TempTime = (DateDiff(mi,@ShiftStart,@ShiftEnd) - DateDiff(mi,@LunchStart,@LunchEnd))
							 If @TempTime > @iBOutPassHrs
								Set @NormalHrs = @NormalHrs + @iBOutPassHrs
							 Else
							   begin	
	   						      Set @NormalHrs = @NormalHrs + @TempTime
							      Set @ExtraHrs = @ExtraHrs + @iBOutPassHrs - @TempTime
							   end	
						   end	
						Else
							Begin
							Set @NormalHrs = @NormalHrs + (DateDiff(mi,@ShiftStart,@LunchStart) + DateDiff(mi,@LunchEnd,@ShiftEnd))
							Set @ExtraHrs = @ExtraHrs + (DateDiff(mi,@Time1,@ShiftStart) + Datediff(mi,@ShiftEnd,@Time2))
							End
					     End
					   Else
					     set @OutPass = @OutPass + (DateDiff(mi,@Time1,@Time2) - DateDiff(mi,@LunchStart,@LunchEnd))
				     end	
				Else
				    If @Time1 >= @ShiftStart And @Time2 <= @ShiftEnd
				     Begin
					If @Time1 >= @LunGraceStart And @Time1 <= @LunchStart
					Set @Time1 = @LunchStart
					If @Time2 >= @LunchEnd And @Time2 <= @LunGraceEnd
					Set @Time2 = @LunchEnd
					If @Time2 <= @LunchStart Or @Time1 >= @LunchEnd
						Begin
						Set @iActualOPHrs = DateDiff(mi,@Time1,@Time2)
						If @sOPFlag = 'O'
							Begin
							if @iBOutPassHrs=0 
						    begin
							print 'update 3'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where EmpId = @Empcode and TransTime =  @TransTime and IoFlag = @IOFlag	
							end

							If @iActualOPHrs > @iBOutPassHrs
							  Set @NormalHrs = @NormalHrs + @iBOutPassHrs
							Else
							   Set @NormalHrs = @NormalHrs + @iActualOPHrs
							end
						Else
							Set @OutPass = @OutPass + @iActualOPHrs
						end
					Else
					If @Time1 <= @LunchStart And @Time2 >= @LunchEnd
						Begin
						Set @iActualOPHrs = (DateDiff(mi,@Time1,@Time2) - DateDiff(mi,@LunchStart,@LunchEnd))
						If @sOPFlag = 'O'
							Begin
							if @iBOutPassHrs=0 
						    begin
							print 'update 4'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where EmpId = @Empcode and TransTime =  @TransTime and IoFlag = @IOFlag	
							end

							   If @iActualOPHrs > @iBOutPassHrs
							      Set @NormalHrs = @NormalHrs + @iBOutPassHrs
							    Else
							      Set @NormalHrs = @NormalHrs + @iActualOPHrs
							End
						Else
						 Set @OutPass = @OutPass + @iActualOPHrs
						end
					Else
					If @Time1 <= @LunchStart And @Time2 < @LunchEnd
					     begin
			 			 Set @iActualOPHrs = DateDiff(mi,@Time1,@LunchStart)
						 If @sOPFlag = 'O'
						  begin
							if @iBOutPassHrs=0 
						    begin
							print 'update 5'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where EmpId = @Empcode and 	TransTime =  @TransTime and IoFlag = @IOFlag
							end

							If @iActualOPHrs > @iBOutPassHrs
							  Set @NormalHrs = @NormalHrs + @iBOutPassHrs
							Else
							  Set @NormalHrs = @NormalHrs + @iActualOPHrs
						  end
						   Else
						  Set @OutPass = @OutPass + @iActualOPHrs
 			 			end	
					Else
                  			If @Time1 >= @LunchStart And @Time2 > @LunchEnd
					  begin
							Set @iActualOPHrs = DateDiff(mi,@LunchEnd,@Time2)
							If @sOPFlag = 'O'
							  begin	
								if @iBOutPassHrs=0 
						    begin
							print 'update 6'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where EmpId = @Empcode and TransTime =  @TransTime and IoFlag = @IOFlag
							end
  								If @iActualOPHrs > @iBOutPassHrs
									Set @NormalHrs = @NormalHrs + @iBOutPassHrs
								Else
									Set @NormalHrs = @NormalHrs + @iActualOPHrs
							  end
							Else
	 						Set @OutPass = @OutPass + @iActualOPHrs
					  end
					Else
					If @Time1 < @ShiftStart And @Time2 <= @ShiftEnd
					 begin
						If @Time2 >= @LunchEnd And @Time2 <= @LunGraceEnd
							Set @Time2 = @LunchEnd
							Set @iActualOPHrs = DateDiff(mi,@Time1,@Time2)
							If @Time2 < @LunchStart
							Set @TempTime = DateDiff(mi,@ShiftStart,@Time2)
							Else
							If @Time2 < @LunchEnd
							 begin
								Set @iActualOPHrs = @iActualOPHrs - (DateDiff(mi,@LunchStart,@Time2))
								Set @TempTime = DateDiff(mi,@ShiftStart,@LunchStart) / 1440.0
							 End
							 Else
							 Begin
								Set @iActualOPHrs = @iActualOPHrs - DateDiff(mi,@LunchStart,@LunchEnd)
								Set @TempTime = (DateDiff(mi,@ShiftStart,@LunchStart) + DateDiff(mi,@LunchEnd,@Time2))
							 End
						If @sOPFlag = 'O'
						  Begin
							if @iBOutPassHrs=0 
						    begin
							print 'update 7'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where EmpId = @Empcode and 	TransTime =  @TransTime and IoFlag = @IOFlag
							end
							If @iActualOPHrs > @iBOutPassHrs
							Begin
							    If @TempTime > @iBOutPassHrs
									Set @NormalHrs = @NormalHrs + @iBOutPassHrs
							    Else
								Begin
									Set @NormalHrs = @NormalHrs + @TempTime
									Set @ExtraHrs = @ExtraHrs + @iBOutPassHrs - @TempTime
								End
							  end
            					        Else
							begin
							   If @TempTime > @iActualOPHrs
								Set @NormalHrs = @NormalHrs + @iActualOPHrs
        					    Else
							      Begin
									Set @NormalHrs = @NormalHrs + @TempTime
									Set @ExtraHrs = @ExtraHrs + @iActualOPHrs - @TempTime
							      End
						        end	
						  end	
					        Else
						Set @OutPass = @OutPass + @iActualOPHrs
					  end
					end
					Else
					If @Time1 >= @ShiftStart And @Time2 > @ShiftEnd
					  begin
						If @Time1 > @LunchEnd And @Time1 <= @LunGraceEnd
							Set @Time1 = @LunchEnd
							Set @iActualOPHrs = DateDiff(mi,@Time1,@ShiftEnd)
							If @Time1 < @LunchStart
								Begin
								Set @iActualOPHrs = @iActualOPHrs - DateDiff(mi,@LunchStart,@LunchEnd)
								Set @TempTime = (DateDiff(mi,@Time1,@LunchStart) + DateDiff(mi,@LunchEnd,@ShiftEnd))
								End
							Else
							  begin
								If @Time1 < @LunchEnd
									Begin
									Set @iActualOPHrs = @iActualOPHrs - DateDiff(mi,@Time1,@LunchEnd)
									Set @TempTime = DateDiff(mi,@LunchEnd,@ShiftEnd)
									End
								Else
									Set @TempTime = DateDiff(mi,@Time1,@ShiftEnd)
 							 end
						If @sOPFlag = 'O'
						   begin	
							if @iBOutPassHrs=0 
						    begin
							print 'update 8'
								set @iBOutPassHrs=@iActualOPHrs					        
								update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs
								where EmpId = @Empcode and TransTime =  @TransTime and IoFlag = @IOFlag	
							end
							If @iActualOPHrs > @iBOutPassHrs
							 Begin
								If @TempTime > @iBOutPassHrs
									Set @NormalHrs = @NormalHrs + @iBOutPassHrs
								 Else
									Begin
									Set @NormalHrs = @NormalHrs + @TempTime
									Set @ExtraHrs = @ExtraHrs + @iBOutPassHrs - @TempTime
									end
							  End
							Else
							   begin
								If @TempTime > @iActualOPHrs
									Set @NormalHrs = @NormalHrs + @iActualOPHrs
								Else
									Begin
									Set @NormalHrs = @NormalHrs + @TempTime
									Set @ExtraHrs = @ExtraHrs + @iActualOPHrs - @TempTime
									End
							    end
						   end
						Else
							Set @OutPass = @OutPass  + @iActualOPHrs
				end
		End

		-- Calculation of @LateIn, @EarlyOutHrs
		Set @LateIn = 0
		Set @EarlyOutHrs = 0
		Set @I = 1
		Fetch First From c_DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
		Set @LateIn = DateDiff(mi,@ShiftStart,@TransTime)
		If @LateIn < 0
			Set @LateIn = 0
		If @OPFlag = 'O'
		Begin
			Set @NormalHrs = @NormalHrs + @BOutPasshrs
			Set @LateIn = @LateIn - @BOutPasshrs
		End
		Set @I = @cntDp
		Fetch Last From c_DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
		Set @EarlyOutHrs = DateDiff(mi,@TransTime,@ShiftEnd)
		If @EarlyOutHrs < 0
			Set @EarlyOutHrs = 0
		If @OPFlag = 'O'
		Begin
			Set @NormalHrs = @NormalHrs + @BOutPasshrs
			Set @EarlyOutHrs = @EarlyOutHrs - @BOutPasshrs
		End
		If @LateIn <= @SftGraceIn
		Begin
			Set @NormalHrs = @NormalHrs + @LateIn
			Set @LateIn = 0
		End
		If @EarlyOutHrs <= @SftGraceOut
		Begin
			Set @NormalHrs = @NormalHrs + @EarlyOutHrs
			Set @EarlyOutHrs = 0
		End

		Set @AttnId = 'AA'
		set @attid='AA'
		declare @Pdate varchar(10)
		set  @Pdate =convert(varchar(10),@Tdt,101)

		if @StrHoliday='HH'
		Begin
			set @AttId='HH' 
			set @Attnid='HH'
			Begin Transaction
			Update tblMuster set attid=@StrHoliday Where EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11)) 
			Commit Transaction
			Set @AttnId = 'HH'
			Set @ExtraHrs = @ExtraHrs + @NormalHrs
			Set @NormalHrs = 0
			Set @EarlyOutHrs = 0
			Set @LateIn = 0
		End
		Else
		Begin
			If @LateIn >= DateDiff(mi,@ShiftStart,@ShiftEnd)
			Begin
				Set @AttnId = 'AA'
				Set @LateIn = 0
			End
			Else
			Begin
				If @LateIn > 180
				Begin
					Set @AttnId = 'A' + SubString(@ShiftCode, 2, 1)
					Set @LateIn = 0
				End
				Else
				Begin
					If @LateIn >= DateDiff(mi,@ShiftStart,@LunchStart)
					Begin
						Set @AttnId = 'A' + SubString(@ShiftCode, 2, 1)
						Set @LateIn = @LateIn - DateDiff(mi,@ShiftStart,@LunchEnd)
					End
					Else
						Set @AttnId = right(@ShiftCode,1) + right(@AttnId,1)
				End
			End
			If @EarlyOutHrs >= DateDiff(mi,@ShiftStart,@ShiftEnd)
			Begin
				Set @AttnId = 'AA'
				Set @EarlyOutHrs = 0
			End
			Else
			Begin
				If @EarlyOutHrs >= 150
				Begin
					Set @AttnId = left(@attnid, 1) + 'A'
					Set @EarlyOutHrs =0
				End
				Else
				Begin
					If @EarlyOutHrs > DateDiff(mi,@LunchEnd,@ShiftEnd)
					Begin
						Set @AttnId = SubString(@ShiftCode, 2, 1) + 'A'
						Set @EarlyOutHrs = @EarlyOutHrs - DateDiff(mi,@LunchStart,@ShiftEnd)
						If @EarlyOutHrs < 0
							Set @EarlyOutHrs = 0
					End
					Else
						Set @AttnId = left(@AttnId,1) + right(@ShiftCode,1)
				End
			End
		End

		Set @BusLateBy = 0
		Set @LateIn = @LateIn - @BusLateBy
		If @LateIn < 0
			Set @LateIn = 0
		If @ExtraHrs < @GraceOT
			Set @ExtraHrs = 0
		If @ExtraHrs < @SingleOT
			Set @SingleOT = 0
		If @ExtraHrs < @DoubleOT
			Set @DoubleOT = 0
		If @ExtraHrs < @CompOff
			Set @CompOff = 0

		-- ============================================================
		-- LEAVE LOGIC: Apply leave override AFTER attendance is computed
		-- and BEFORE the final TblMuster UPDATE
		-- ============================================================
		IF @LeaveAttId <> '00'
		BEGIN
		    PRINT 'Applying Leave Override: LeaveAttId=' + ISNULL(@LeaveAttId,'') + ' LeaveHalf=' + ISNULL(@LeaveHalf,'')

		    IF @LeaveHalf = '1'
		    BEGIN
		        -- Full-day leave: override everything
		        SET @AttnId      = @LeaveAttId   -- e.g. 'CC', 'EE', 'SS'
		        SET @NormalHrs   = 0
		        SET @ExtraHrs    = 0
		        SET @LateIn      = 0
		        SET @EarlyOutHrs = 0
		        SET @OutPass     = 0
		    END
		    ELSE IF @LeaveHalf = '2'
		    BEGIN
		        -- First-half leave: force left character, keep right (shift-computed)
		        -- e.g. if AttnId='1A' and leave='CL' → AttnId='CA'
		        SET @AttnId  = @FirstHalfLeave + RIGHT(@AttnId, 1)
		        -- Reduce normal hours to second-half only
		        SET @NormalHrs   = @NormalHrs / 2
		        SET @LateIn      = 0    -- late-in not applicable when morning is on leave
		    END
		    ELSE IF @LeaveHalf = '3'
		    BEGIN
		        -- Second-half leave: keep left (shift-computed), force right character
		        -- e.g. if AttnId='1A' and leave='CL' → AttnId='1C'
		        SET @AttnId  = LEFT(@AttnId, 1) + @SecondHalfLeave
		        -- Reduce normal hours to first-half only
		        SET @NormalHrs   = @NormalHrs / 2
		        SET @EarlyOutHrs = 0    -- early-out not applicable when afternoon is on leave
		    END
		END
		-- ============================================================

		Begin Transaction
		Declare @lateinflag char(1),@earlyoutflag char(1)
		SET @cadreid      ='STAFF';
		SET @lateinflag   = 'T';
		SET @earlyoutflag ='T';

		print 'Step3'
		UpDate TblMuster Set AttId=@AttnId,HrsWorked=@NormalHrs,OutPasses=@OutPass,LatePunch = @LateIn,EarlyOut = @EarlyOutHrs,
				ExtraHours = @ExtraHrs,SingleOT = @SingleOT,DoubleOT = @DoubleOT ,CompOff = @CompOff,ErrCodeID = 0 Where  EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
		Commit Transaction

		Declare DailyTransactions Scroll Cursor For Select IOFlag,TransTime,BOutPassHrs,OPFlag from TblDailyTransactions where AttendanceDate = convert(datetime,@tdt,101) and EmpId = RTrim(LTrim(@EmpCode)) and Deleted = 'F' Order by TransTime
		Open DailyTransactions
		Fetch First From DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
		If @@fetch_status = 0
		Begin
			if upper(@OPFlag)='O' and @LateIn>0 
			 begin
				set @iBOutPassHrs=@latein
				update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs where EmpId = @Empcode and TransTime =  @TransTime and IoFlag = @IOFlag
				UpDate TblMuster Set LatePunch =0 Where  EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
			 end
		end
		Fetch last From DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
		If @@fetch_status = 0
		Begin
			if upper(@OPFlag)='O' and @EarlyOutHrs>0 
			 begin
				set @iBOutPassHrs=@EarlyOutHrs
				update tblDailyTransactions set Boutpasshrs = @iBoutPassHrs where EmpId = @Empcode and TransTime =  @TransTime and IoFlag = @IOFlag
				UpDate TblMuster Set EarlyOut =0 Where  EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
			 end
		end
		close DailyTransactions
		deallocate DailyTransactions
		Set @ComputeAttendanceFor = 0
		Close c_DailyTransactions
		Deallocate c_DailyTransactions
		print 'ook'
	End
	Else
	Begin
	print 'WKOFF'
		Set @I = 1
		Declare @cntPunch Bit
		Set @cntPunch = 1
		While @cntPunch = 1
		Begin
			Set @EmpStatus = Upper(@IOFlag)
			Set @Time1 = @TransTime
			Set @iBOutPassHrs = @BOutPassHrs
			Set @sOPFlag = Upper(@OPFlag)
			if @CFinLout ='T'
			Begin
				Set @I = @I + 1
				Fetch Last From c_DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
				Set @Time2 = @TransTime
				Set @I = @cntPunch + 1
				Set @cntPunch = 0
			End
			Else
			Begin
				Set @I = @I + 1
				Fetch Next From c_DailyTransactions InTo @IOFlag,@TransTime,@BOutPassHrs,@OPFlag
			End
			if @@fetch_status<>0
				break
			Set @Time2 = @TransTime
			If @EmpStatus = 'I'
				begin
				  Set @ExtraHrs = @ExtraHrs + DateDiff(mi,@Time1,@Time2)
				print '17'
				end
			Else
			Begin
				Set @TempTime = DateDiff(mi,@Time1,@Time2)
				If @sOPFlag = 'O'
				Begin
					If @iBOutPassHrs > @TempTime
						begin
						Set @ExtraHrs = @ExtraHrs + @TempTime
						print '18'
						end
					Else
						begin
						Set @ExtraHrs = @ExtraHrs + @iBOutPassHrs
						print '22'
						end
				End
				Else
					Set @OutPass = 0
			End
		End
		If @ExtraHrs < @GraceOT
			Set @ExtraHrs = 0
		If Upper(LTrim(RTrim(@AttId))) <> 'HH'
		Begin
			Set @AttnId = 'WW'
			Set @ExtraHrs = @ExtraHrs + @NormalHrs
			Set @NormalHrs = 0
		End
		Set @LateIn = 0
		Set @EarlyOutHrs = 0
		If @ShiftCode = 'WW'
			Set @AttnId = 'WW'
		Else
			Set @AttnId = 'HH'

		-- ============================================================
		-- LEAVE LOGIC: Apply leave override on Weekly-Off / Holiday day too
		-- ============================================================
		IF @LeaveAttId <> '00'
		BEGIN
		    PRINT 'Applying Leave Override on WW/HH day: LeaveAttId=' + ISNULL(@LeaveAttId,'')
		    -- Full-day leave on a WO/Holiday overrides to leave code
		    IF @LeaveHalf = '1'
		        SET @AttnId = @LeaveAttId
		    -- Half-day leave on WO is unusual; preserve WW/HH but blend if needed
		    ELSE IF @LeaveHalf = '2'
		        SET @AttnId = @FirstHalfLeave + RIGHT(@AttnId, 1)
		    ELSE IF @LeaveHalf = '3'
		        SET @AttnId = LEFT(@AttnId, 1) + @SecondHalfLeave
		END
		-- ============================================================

		Begin Tran
		print 'Update'
		UpDate TblMuster Set AttId=@AttnId,HrsWorked=@NormalHrs,OutPasses=@OutPass,LatePunch = @LateIn,EarlyOut = @EarlyOutHrs,
				ExtraHours = @ExtraHrs,SingleOT = @SingleOT,DoubleOT = @DoubleOT ,CompOff = @CompOff,ErrCodeID = 0 Where  EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
		Commit Transaction
		Close c_DailyTransactions
		Deallocate c_DailyTransactions
		Set @ComputeAttendanceFor = 0
 		set @dtfrom=dateadd(day,1,@dtfrom)
		continue
	End
End
Else
Begin
	-- No punches present: mark absent / weekly-off / holiday
	If Upper(@ShiftId) = 'WW'
		Set @AttnId = 'WW'
	Else
	Begin
		If Upper(@AttId) <> 'HH'
			Set @AttnId = 'AA'
		Else
		Begin
			If Upper(@AttId) = 'HH'
				Set @AttnId = 'HH'
		End
	End

	-- ============================================================
	-- LEAVE LOGIC: Apply leave override even when no punches exist
	-- Full-day leave on an absent day → leave code wins over 'AA'
	-- ============================================================
	IF @LeaveAttId <> '00' AND Upper(@ShiftId) <> 'WW'
	BEGIN
	    PRINT 'Applying Leave Override (no punches): LeaveAttId=' + ISNULL(@LeaveAttId,'')
	    IF UPPER(@LeaveHalf) = '1'
	        SET @AttnId = @LeaveAttId          -- e.g. 'CC' replaces 'AA'
	    ELSE IF UPPER(@LeaveHalf) = '2'
	        SET @AttnId = @FirstHalfLeave + RIGHT(@AttnId, 1)   -- e.g. 'CA'
	    ELSE IF UPPER(@LeaveHalf) = '3'
	        SET @AttnId = LEFT(@AttnId, 1) + @SecondHalfLeave   -- e.g. 'AC'
	END
	-- ============================================================
	print '@AttnId' + @AttnId
	Begin Transaction
	print 'Update'
	UpDate TblMuster Set Attid=@AttnId, LeaveTypeId = @LeaveAttId,hrsworked = 0,OutPasses = 0,latepunch = 0,ExtraHours = 0,@SingleOT = @SingleOT,@DoubleOT = @DoubleOT,@CompOff = 0,EarlyOut = 0,ErrCodeID = 0 Where  EmployeeId = RTrim(LTrim(@EmpCode)) and TDate = cast(@fromdate as char(11))
	if @@error<>0
	    begin
		rollback transaction
		Close c_DailyTransactions
		Deallocate c_DailyTransactions
		Set @ComputeAttendanceFor = 1
                set @dtfrom=dateadd(day,1,@dtfrom)
	    end
	Commit Transaction
	Close c_DailyTransactions
	Deallocate c_DailyTransactions
	Set @ComputeAttendanceFor = 0
    End
    set @dtfrom=dateadd(day,1,@dtfrom)
end
Set @ComputeAttendanceFor = 0
return @ComputeAttendanceFor

-- exec ComputeAttendanceFor '00000011255','04/27/2026','04/27/2026','STAFF',0
