USE [HRMS_DB]
GO
/****** Object:  StoredProcedure [dbo].[p_InsertRecords]    Script Date: 08/06/2026 18:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Rajagopal
-- Create date: 04-Apr-2026
-- Description:	Procedure to create Muster for employees
-- =============================================
ALTER   PROCEDURE [dbo].[p_InsertRecords]
      @EmpCode VARCHAR(11),                 
      @SDate DATETIME,
      @EmpShiftType VARCHAR(2),
      @SPId VARCHAR(2),
      @WOD SMALLINT,
      @WOD2 SMALLINT,
      @SRSlno INT,
      @NoDays INT,
      @return BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE 
            @StDate DATETIME, 
            @EdDate DATETIME, 
            @TempDate DATETIME,
            @TShift VARCHAR(2),
            @PId INT,
            @ShiftId VARCHAR(2),
            @ShiftRtnNo INT,
            @NoOfDays INT,
            @iSftNo INT = 1,
            @iNoDs INT;

        SET @return = 0;

        --------------------------------------------------
        -- Date Range
        --------------------------------------------------
        SET @StDate = DATEFROMPARTS(YEAR(@SDate), MONTH(@SDate), 1);
        SET @EdDate = DATEADD(MONTH, 1, @StDate);
        SET @TempDate = @StDate;

        SET @EmpShiftType = UPPER(@EmpShiftType);

        --------------------------------------------------
        -- NORMAL SHIFT (F, A, O)
        --------------------------------------------------
        IF (@EmpShiftType IN ('F','A','O'))
        BEGIN
            WHILE (@TempDate < @EdDate)
            BEGIN
                IF (DATEPART(WEEKDAY, @TempDate) = @WOD 
                    OR DATEPART(WEEKDAY, @TempDate) = @WOD2)
                    SET @TShift = 'WW';
                ELSE
                    SET @TShift = @SPId;

                INSERT INTO TblMuster
                (
                    AttId, LeaveTypeId, HrsWorked, OutPasses, ErrCodeId,
                    SingleOT, DoubleOT, LatePunch, EarlyOut, ExtraHours,
                    CompOff, EmployeeID, TDate, ShiftId, availed, applied, CreatedAt, IsDeleted
                )
                VALUES
                (
                    '00','00',0,0,-1,0,0,0,0,0,0,
                    @EmpCode,@TempDate,LTRIM(RTRIM(@TShift)),NULL,NULL, SYSDATETIME(), 0
                );

                SET @TempDate = DATEADD(DAY, 1, @TempDate);
            END

            SET @return = 1;
        END
        COMMIT TRANSACTION;
    END TRY

    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @return = 0;

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        PRINT 'Error in p_InsertRecords: ' + @ErrMsg;
    END CATCH
END
