USE [HRMS_DB]
GO
/****** Object:  Table [dbo].[TblErrorDisplay]    Script Date: 26/04/2026 10:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblErrorDisplay](
	[Empcode] [nvarchar](11) NULL,
	[Tdt] [datetime] NULL,
	[Type] [char](2) NULL,
	[Message] [nvarchar](75) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblshiftdetails]    Script Date: 26/04/2026 10:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblshiftdetails](
	[SHIFTID] [char](2) NOT NULL,
	[dayid] [int] NOT NULL,
	[starttime] [datetime] NULL,
	[endtime] [datetime] NULL,
	[lunchstart] [datetime] NULL,
	[lunchend] [datetime] NULL,
 CONSTRAINT [PK_tblshiftdetails] PRIMARY KEY CLUSTERED 
(
	[SHIFTID] ASC,
	[dayid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblshifts]    Script Date: 26/04/2026 10:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblshifts](
	[SHIFTID] [char](2) NOT NULL,
	[SHIFTNAME] [varchar](25) NULL,
 CONSTRAINT [PK_tblshifts] PRIMARY KEY CLUSTERED 
(
	[SHIFTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 26/04/2026 10:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog]
(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    FileNum SMALLINT,
    EmpCode VARCHAR(11),
    LogDate DATETIME,
    Message VARCHAR(500),
    CreatedOn DATETIME DEFAULT GETDATE()
);