USE [HRMS_DB]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 28/04/2026 21:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileNum] [smallint] NULL,
	[EmpCode] [varchar](11) NULL,
	[LogDate] [datetime] NULL,
	[Message] [varchar](500) NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblErrorDisplay]    Script Date: 28/04/2026 21:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblErrorDisplay](
	[Empcode] [nvarchar](11) NULL,
	[Tdt] [datetime] NULL,
	[Type] [char](2) NULL,
	[Message] [nvarchar](75) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblshiftdetails]    Script Date: 28/04/2026 21:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblshiftdetails](
	[SHIFTID] [char](2) NOT NULL,
	[dayid] [int] NOT NULL,
	[starttime] [datetime] NULL,
	[endtime] [datetime] NULL,
	[lunchstart] [datetime] NULL,
	[lunchend] [datetime] NULL,
 CONSTRAINT [PK_tblshiftdetails] PRIMARY KEY CLUSTERED 
(
	[SHIFTID] ASC,
	[dayid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblshifts]    Script Date: 28/04/2026 21:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblshifts](
	[SHIFTID] [char](2) NOT NULL,
	[SHIFTNAME] [varchar](25) NULL,
 CONSTRAINT [PK_tblshifts] PRIMARY KEY CLUSTERED 
(
	[SHIFTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblTempCards]    Script Date: 28/04/2026 21:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblTempCards](
	[TempCardNo] [varchar](11) NOT NULL,
	[EmpId] [nvarchar](11) NULL,
	[locationcode] [char](6) NULL,
 CONSTRAINT [PK_TblTempCards] PRIMARY KEY CLUSTERED 
(
	[TempCardNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblshiftdetails] ([SHIFTID], [dayid], [starttime], [endtime], [lunchstart], [lunchend]) VALUES (N'AG', 1, CAST(N'1899-12-30T09:00:00.000' AS DateTime), CAST(N'1899-12-30T20:00:00.000' AS DateTime), CAST(N'1899-12-30T13:00:00.000' AS DateTime), CAST(N'1899-12-30T14:00:00.000' AS DateTime))
INSERT [dbo].[tblshiftdetails] ([SHIFTID], [dayid], [starttime], [endtime], [lunchstart], [lunchend]) VALUES (N'AG', 2, CAST(N'1899-12-30T09:00:00.000' AS DateTime), CAST(N'1899-12-30T20:00:00.000' AS DateTime), CAST(N'1899-12-30T13:00:00.000' AS DateTime), CAST(N'1899-12-30T14:00:00.000' AS DateTime))
INSERT [dbo].[tblshiftdetails] ([SHIFTID], [dayid], [starttime], [endtime], [lunchstart], [lunchend]) VALUES (N'AG', 3, CAST(N'1899-12-30T09:00:00.000' AS DateTime), CAST(N'1899-12-30T20:00:00.000' AS DateTime), CAST(N'1899-12-30T13:00:00.000' AS DateTime), CAST(N'1899-12-30T14:00:00.000' AS DateTime))
GO
INSERT [dbo].[tblshifts] ([SHIFTID], [SHIFTNAME]) VALUES (N'AG', N'General Shift')
GO
ALTER TABLE [dbo].[ErrorLog] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tblshiftdetails]  WITH CHECK ADD  CONSTRAINT [FK_tblshiftdetails_tblshifts] FOREIGN KEY([SHIFTID])
REFERENCES [dbo].[tblshifts] ([SHIFTID])
GO
ALTER TABLE [dbo].[tblshiftdetails] CHECK CONSTRAINT [FK_tblshiftdetails_tblshifts]
GO
ALTER TABLE [dbo].[TblTempCards]  WITH CHECK ADD  CONSTRAINT [FK_TblTempCards_TblEmpMast] FOREIGN KEY([EmpId])
REFERENCES [dbo].[TblEmpMast] ([EmployeeId])
GO
ALTER TABLE [dbo].[TblTempCards] CHECK CONSTRAINT [FK_TblTempCards_TblEmpMast]
GO
