USE [HRMS_DB]
GO
-- =============================================
-- Author:		Rajagopal
-- Create date: 04-Apr-2026
-- Description:	Procedure to create Muster for employees
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[CreateMusterFor]
(
    @EmpCode         VARCHAR(11),
    @TempDate9       VARCHAR(10),
    @FileNum         SMALLINT,
    @CreateMusterFor BIT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE 
        @TempDate        DATETIME,
        @EmpShiftType    VARCHAR(2),
        @ShiftId         VARCHAR(2),
        @WOD             SMALLINT,
        @WOD2            SMALLINT,
        @SPId            VARCHAR(2),
        @SRSlno          SMALLINT,
        @NODs            SMALLINT,
        @IRSuccess       BIT = 0,
        @UpdateHolidays  INT,

        -- Leave variables
        @LeaveTypeId     VARCHAR(2),
        @DateFrom        DATETIME,
        @DateTo          DATETIME,
        @CurDateTime     DATETIME,
        @FromHalfDayFlag VARCHAR(1),
        @ToHalfDayFlag   VARCHAR(1),
        @NoOfDays        INT;

    BEGIN TRY
        BEGIN TRAN;

        -- ============================
        -- DATE CONVERSION
        -- ============================
        SET @TempDate = TRY_CONVERT(DATETIME, @TempDate9, 101);
        -- ============================
        -- CURRENT DATETIME
        -- ============================
        SET @CurDateTime = SYSDATETIME();

        IF @TempDate IS NULL
        BEGIN
            EXEC [HRMS_DB].[dbo].WriteErrToFile 
                    @FileNum   = @FileNum,
                    @EmpCode   = @EmpCode,
                    @Tdate     = @CurDateTime,
                    @message   = 'Invalid Date Format';
            SET @CreateMusterFor = 0;
            ROLLBACK TRAN;
            RETURN;
        END

        -- ============================
        -- FETCH EMPLOYEE
        -- ============================
        SELECT TOP 1
            @EmpShiftType = 'F',
            @ShiftId      = 'AG',
            @WOD          = 7,
            @WOD2         = 1,
            @SPId         = 0,
            @SRSlno       = 0,
            @NODs         = 0
        FROM tblempmast WITH (NOLOCK)
        WHERE EmployeeId = @EmpCode;

        IF @EmpShiftType IS NULL
        BEGIN
            EXEC WriteErrToFile 
                    @FileNum   = @FileNum,
                    @EmpCode   = @EmpCode,
                    @Tdate     = @CurDateTime,
                    @message   = 'Employee not found';
            SET @CreateMusterFor = 0;
            ROLLBACK TRAN;
            RETURN;
        END

        IF @WOD2 NOT BETWEEN 1 AND 7
            SET @WOD2 = NULL;

        -- ============================
        -- SHIFT LOGIC
        -- ============================
        IF @EmpShiftType = 'F'
        BEGIN
            SET @SPId = @ShiftId;

            EXEC p_insertrecords 
                @EmpCode, @TempDate, @EmpShiftType, @SPId,
                @WOD, @WOD2, 0, 0,
                @IRSuccess OUTPUT;
        END
        ELSE IF @EmpShiftType = 'R'
        BEGIN
            EXEC p_insertrecords 
                @EmpCode, @TempDate, @EmpShiftType, @SPId,
                NULL, NULL, @SRSlno, @NODs,
                @IRSuccess OUTPUT;

        END
        ELSE IF @EmpShiftType = 'A'
        BEGIN
            EXEC p_insertrecords 
                @EmpCode, @TempDate, @EmpShiftType, @ShiftId,
                @WOD, @WOD2, 0, 0,
                @IRSuccess OUTPUT;
        END
        ELSE IF @EmpShiftType = 'O'
        BEGIN
            EXEC p_insertrecords 
                @EmpCode, @TempDate, @EmpShiftType, '',
                @WOD, @WOD2, 0, 0,
                @IRSuccess OUTPUT;
        END
        ELSE
        BEGIN
            EXEC WriteErrToFile 
                    @FileNum   = @FileNum,
                    @EmpCode   = @EmpCode,
                    @Tdate     = @CurDateTime,
                    @message   = 'Invalid Shift Type';
            SET @CreateMusterFor = 0;
            ROLLBACK TRAN;
            RETURN;
        END

        -- ============================
        -- INSERT VALIDATION
        -- ============================
        IF @IRSuccess = 0
        BEGIN
            EXEC WriteErrToFile 
                @Filenum = @FileNum,
                @Empcode = @EmpCode,
                @Tdate     = @CurDateTime,
                @message = 'Muster already exists or insert failed';
            SET @CreateMusterFor = 0;
            ROLLBACK TRAN;
            RETURN;
        END

        -- ============================
        -- UPDATE HOLIDAYS
        -- ============================
        --EXEC UpdateHolidays @TempDate, @UpdateHolidays OUTPUT;

        -- ============================
        -- SUCCESS
        -- ============================
        COMMIT TRAN;        

        SET @CreateMusterFor = 1;
    END TRY

    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRAN;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();

        EXEC WriteErrToFile 
                    @FileNum   = @FileNum,
                    @EmpCode   = @EmpCode,
                    @Tdate     = @CurDateTime,
                    @message   = @ErrorMessage;

        SET @CreateMusterFor = 0;
    END CATCH
END
GO

--EXEC CreateMusterFor '00000011255','2026-03-01',1,0